.gdpr-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.gdpr-wrapper > section {
  width: 100%;
}

.policy-link {
  text-decoration: underline;
}

.compliance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.compliance-title {
  margin-top: 36px;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  color: #FFC006;
  letter-spacing: 0.19px;
}

.compliance-subtitle {
  margin-top: 13px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #484848;
  text-align: center;
  letter-spacing: 0.06px;
}

.compliance-text {
  width: 601px;
  margin-top: 17px;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  text-align: center;
  letter-spacing: 0.06px;
}

.gdpr-trial-button {
  margin: 37px 0 35px 0;
  text-align: center;
}

.gdpr-trial-button > a {
  display: block;
  width: 287px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.07px;
  background-color: #FFC107;
}

.gdpr-trial-button > a:hover {
  text-decoration: none;
}

.gdpr-explanation-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 297px;
  background-color: #484F59;
}

.explanation-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.explanation-title {
  margin-top: 38px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.06px;
}

.explanation-description {
  width: 592px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #FFFFFF;
  letter-spacing: 0.06px;
}

.explanation-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 261px;
}

.explanation-image > img {
  width: 100%;
  height: 100%;
}

.protect-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.protect-customer-title {
  margin-top: 39px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
  color: #484848;
  text-align: center;
  letter-spacing: 0.06px;
}

.protect-customer-description {
  width: 614px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  text-align: center;
  letter-spacing: 0.06px;
}

.protect-hr {
  width: 433px;
  margin-top: 39px;
  border: #000 solid 1px;
}

.protect-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 895px;
}

.anonymous-data-div, .ip-addresses-div, .protect-yourself-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.anonymous-title {
  width: 411px;
  margin-top: 69px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #484848;
  letter-spacing: -0.5px;
}

.anonymous-description {
  width: 318px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  letter-spacing: 0.06px;
}

.anonymous-img {
  width: 404px;
  margin-top: 70px;
}

.anonymous-img > img {
  width: 100%;
}

.ip-addresses-img {
  width: 375px;
  margin-top: 38px;
}

.ip-addresses-img > img {
  width: 100%;
}

.ip-title {
  margin-top: 83px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #484848;
  text-align: right;
  letter-spacing: 0.06px;
}

.ip-description {
  width: 411px;
  margin: 12px 0 0 11px;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  text-align: right;
  letter-spacing: 0.06px;
}

.protect-title {
  margin-top: 38px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #484848;
  letter-spacing: 0.06px;
}

.protect-text {
  width: 432px;
  margin: 12px 0 41px 0;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  letter-spacing: 0.06px;
}

.protect-yourself-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 301px;
}

.protect-yourself-img > img {
  width: 187px;
  height: 183px;
  margin-top: 41px;
}

.gdpr-insights-section, .contacting-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gdpr-insights-section {
  background-color: #FFC107;
  padding-bottom: 35px;
}

.gdpr-insights-title {
  width: 464px;
  margin-top: 41px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
  color: #484848;
  text-align: center;
  letter-spacing: 0.06px;
}

.gdpr-insights-button {
  margin-top: 47px;
}

.gdpr-insights-button > a {
  display: block;
  width: 306px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #FFC107;
  border: #fff solid 3px;
}

.gdpr-insights-button > a:hover {
  text-decoration: none;
}

.contacting-us-section {
  height: 138px;
}

.contacting-us-title {
  margin-top: 33px;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  color: #484848;
  text-align: center;
}

.contacting-us-text {
  padding: 0 10px;
  margin-top: 16px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .compliance-title {
    margin-top: 48px;
  }

  .compliance-subtitle {
    margin-top: 10px;
  }

  .compliance-text {
    margin-top: 35px;
  }

  .gdpr-trial-button {
    margin: 38px 0 33px 0;
  }

  .gdpr-trial-button > a {
    width: 299px;
  }

  .gdpr-explanation-section {
    justify-content: space-evenly;
  }

  .explanation-title {
    margin-top: 33px;
  }

  .explanation-description {
    width: 414px;
    margin-top: 5px;
  }

  .explanation-image {
    width: 205px;
  }

  .protect-customer-title {
    margin-top: 43px;
    font-size: 30px;
  }

  .protect-customer-description {
    margin-top: 37px;
  }

  .protect-hr {
    margin-top: 33px;
  }

  .anonymous-data-div,
  .protect-yourself-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .protect-yourself-div {
    padding-bottom: 56px;
  }

  .anonymous-text,
  .ip-addresses-text,
  .protect-yourself-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .anonymous-title {
    margin-top: 32px;
    text-align: center;
  }

  .anonymous-description {
    width: 628px;
    text-align: center;
  }

  .anonymous-img {
    width: 684px;
    margin-top: 43px;
  }

  .ip-addresses-div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .ip-title {
    margin-top: 60px;
  }

  .ip-description {
    width: 455px;
    text-align: center;
    margin-left: 0;
  }

  .ip-addresses-img {
    width: 684px;
    margin-top: 17px;
  }

  .protect-yourself-description {
    width: 685px;
  }

  .protect-title {
    margin-top: 44px;
  }

  .protect-text {
    width: 685px;
    margin-top: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .protect-yourself-img > img {
    margin-top: 0;
  }

  .gdpr-insights-title {
    margin-top: 31px;
  }

  .gdpr-insights-button {
    margin-top: 56px;
  }

  .contacting-us-title {
    margin-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .compliance-section {
    height: auto;
  }

  .compliance-title {
    width: 364px;
    margin-top: 10px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  .compliance-subtitle {
    width: 367px;
    margin-top: 14px;
    font-size: 16px;
    letter-spacing: -0.5px;
  }

  .compliance-text {
    width: 302px;
    margin-top: 16px;
    line-height: 19px;
  }

  .gdpr-trial-button {
    margin: 28px 0 38px 0;
  }

  .gdpr-trial-button > a {
    width: 274px;
    font-size: 18px;
  }

  .gdpr-explanation-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    height: auto;
  }

  .explanation-image {
    margin-top: 23px;
    width: 145px;
  }

  .explanation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }

  .explanation-title {
    margin-top: 15px;
  }

  .explanation-description {
    width: 358px;
    padding: 0 15px;
    margin-top: 17px;
    text-align: center;
  }

  .protect-customer-title {
    margin-top: 23px;
    line-height: 35px;
  }

  .protect-customer-description {
    width: 343px;
    margin-top: 19px;
    line-height: 19px;
  }

  .protect-hr {
    width: 257px;
    margin-top: 35px;
  }

  .anonymous-title {
    width: 256px;
    margin-top: 36px;
    line-height: 28px;
    text-align: center;
  }

  .anonymous-description {
    width: 339px;
    margin-top: 22px;
    line-height: 19px;
    letter-spacing: 0;
  }

  .anonymous-img {
    width: 345px;
    margin-top: 10px;
  }

  .ip-title {
    margin-top: 35px;
  }

  .ip-description {
    width: 312px;
    margin: 23px 0 0;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0;
  }

  .ip-addresses-img {
    width: 345px;
    margin-top: 31px;
  }

  .protect-yourself-description {
    width: 328px;
  }

  .protect-title {
    margin-top: 50px;
    line-height: 28px;
    text-align: center;
  }

  .protect-text {
    width: 328px;
    margin-top: 18px;
    margin-bottom: 27px;
    letter-spacing: 0;
  }

  .protect-yourself-img {
    width: 167px;
  }

  .protect-yourself-img > img {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  .gdpr-insights-section {
    height: 255px;
  }

  .gdpr-insights-title {
    width: 350px;
    margin-top: 31px;
    font-size: 30px;
  }

  .gdpr-insights-button {
    margin-top: 33px;
  }

  .contacting-us-section {
    height: 169px;
  }

  .contacting-us-title {
    margin-top: 33px;
  }
}