/* =============================================
    START: Styles for FOOTER with two variants - light and dark
   =============================================
 */

/* START of DESKTOP: >1024px */

.footer {
  display: flex;
  justify-content: center;
  min-height: 273px;
}

/* ======================== */

/* TODO: cases for some pages without margin-top */
.two-sides + .footer {
  margin-top: 0;
}

.features-page + .footer {
  margin-top: 0;
}
/* ======================== */

.footer_dark-theme {
  color: #fff;
  background-color: #484F59;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  width: 814px;
  height: 137px;
  margin: 68px auto;
}

.footer__column ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__oribi-logo {
  display: inline-block;
  width: 82px;
  height: 26px;
}

.footer__oribi-logo_dark-theme {
  background: url(../../images/new-footer/oribi-logo-white.svg) no-repeat;
  background-size: contain;
}

.footer__heading.footer__heading_strong {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.footer__contacts li:first-child {
  height: 26px;
}

.footer__contacts li:nth-child(2) {
  margin-top: 17px;
}

.footer__contact-us-phrase {
  margin-top: 17px;
  font-size: 12px;
  line-height: 14px;
}

.footer__contact-us-link {
  text-decoration: underline;
}

.footer__social-links {
  display: flex;
  height: 24px;
  margin-top: 19px;
}

.footer__social-links a {
  display: block;
  width: 24px;
  margin-right: 15px;
}

.footer__social-links img {
  width: 100%;
  height: 100%;
}

.footer__menu li {
  font-size: 12px;
  line-height: 20px;
}

.footer__menu li:nth-child(2) {
  margin-top: 10px;
}

.footer__menu li a:hover {
  text-decoration: none;
}

.footer__gdpr-logo {
  display: inline-block;
  width: 35px;
  height: 14px;
  vertical-align: text-bottom;
}

.footer__gdpr-logo_dark-theme {
  background: url(../../images/new-footer/gdpr-logo-white.svg) no-repeat;
  background-size: contain;
}

/* === UNCOMMENT classes BELOW for white theme === */

.footer_light-theme {
  background-color: #F3F5F7;
  color: #484F59;
}

.footer__oribi-logo_light-theme {
  background: url(../../images/new-footer/oribi-logo-dark.svg) no-repeat;
  background-size: contain;
}

.footer__gdpr-logo_light-theme {
  background: url(../../images/new-footer/gdpr-logo-dark.svg) no-repeat;
  background-size: contain;
}

/* === UNCOMMENT classes ABOVE for white theme === */


/*   END of DESKTOP: >1024px */

/*   START of TABLET: 768-1023px */

@media screen and (max-width: 1023px) {
  .footer {
    min-height: 223px;
  }

  .footer__main {
    width: 695px;
    height: 146px;
    margin: 49px 53px 28px 20px;
  }

  .footer_light-theme .footer__main {
      margin: 20px 25px 28px 20px;
  }

  .footer__contacts li:nth-child(2) {
    margin-top: 16px;
  }

  .footer__contact-us-phrase {
    margin-top: 9px;
  }

  .footer__gdpr-logo {
    display: block;
    width: 64px;
    height: 25px;
  }
}

/*   END of TABLET: 768-1023px */

/*   START of MOBILE: 767-375px */
@media screen and (max-width: 767px) {
  .footer {
    height: 100%;
    min-height: 487px;
  }

  .footer__main {
    flex-wrap: wrap;
    width: 274px;
    height: auto;
    margin: 20px 26px 20px;
  }

  .footer__social-links {
    margin-top: 15px;
  }

  .footer__main .footer__column:nth-child(1) {
    width: inherit;
    height: fit-content;
  }

  .footer__main .footer__column:nth-child(2),
  .footer__main .footer__column:nth-child(3) {
    margin-top: 17px;
  }

  .footer__main .footer__column:nth-child(3) {
    margin-right: 14px;
  }

  .footer__main .footer__column:nth-child(4),
  .footer__main .footer__column:last-child {
    margin-top: 31px;
  }
}

/*END of MOBILE: 767-375px */

/* =============================================
    END: Styles for FOOTER with two variants - light and dark
   =============================================
 */
