.features-home.oribi-for-ecommerce .visitors-leaving {
  box-shadow: inset -3px 3px 4px #ddd;
}

.oribi-for-ecommerce .scroll-page .panel header {
  height: 24%;
  padding-top: 5px;
}

.oribi-for-ecommerce .scroll-page .panel:first-child main {
  height: 76%;
}

.oribi-for-ecommerce .scroll-page .panel header h1 {
  color: #ffb842;
}

.oribi-for-ecommerce .scroll-page .panel header div {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  color: #484f59;
}

.oribi-for-ecommerce .scroll-page .panel:first-child video {
  max-width: initial;
}

.oribi-for-ecommerce .scroll-page .panel .white-bg > div {
  background: unset;
}

.oribi-for-ecommerce .scroll-page .panel:first-child .side {
  padding: 26px 73px 0 41px;
  background: #ffc107;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(even) .side {
  padding-right: 41px;
}

.oribi-for-ecommerce .scroll-page .panel .side,
.oribi-for-ecommerce .scroll-page .panel .side.bigger {
  flex-basis: 42%;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(odd) .side {
  padding-left: 41px;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(even) .side {
  padding-right: 50px;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(2) .side,
.oribi-for-ecommerce .scroll-page .panel:nth-child(2) main.grey .video:after {
  background-color: #525864;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(3) .side {
  background-color: #f6f6f6;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(5) .side {
  background-color: #515865;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(4) main,
.oribi-for-ecommerce .scroll-page .panel:nth-child(4) main .side {
  background-color: #ffc107;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(4) main .side h4 {
  max-width: 421px;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(6) main .side .show-desktop {
  max-width: 407px;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(6) span {
  text-decoration: underline;
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(7) .orange .side,
.oribi-for-ecommerce .scroll-page .panel:nth-child(7) .orange .video {
  background-color: #fff;
}

.oribi-for-ecommerce .scroll-page .panel .side h3 {
  line-height: 43px;
}

.oribi-for-ecommerce .scroll-page .panel .side h4 {
  color: rgba(0, 0, 0, .35);
}

.oribi-for-ecommerce .scroll-page .panel:nth-child(2) .side h4,
.oribi-for-ecommerce .scroll-page .panel:nth-child(5) .side h4 {
  color: rgba(255, 250, 237, 0.51);;
}

.oribi-for-ecommerce .scroll-page .panel .side h4 {
  margin-top: 7px;
  margin-bottom: 17px;
}

.oribi-for-ecommerce .scroll-page .panel main.text_grey .side h3,
.oribi-for-ecommerce .scroll-page .panel main.text_grey .side p,
.oribi-for-ecommerce .scroll-page .panel main.text_grey .side ul li,
.oribi-for-ecommerce .scroll-page .panel main.text_grey .side a {
  color: #484f59;
}

.oribi-for-ecommerce .scroll-page .panel .side a:not(.hidden) {
  margin-top: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.oribi-for-ecommerce .scroll-page .panel .side p,
.oribi-for-ecommerce .scroll-page .panel .side ul li {
  font-weight: 400;
}

.oribi-for-ecommerce .scroll-page .panel .side ul li {
  margin-top: 14px;
}

.oribi-for-ecommerce .scroll-page .panel .side .show-desktop p:first-child {
  margin-top: 27px;
}

.oribi-for-ecommerce .scroll-page .panel .side ul li:first-child {
  margin-top: 25px;
}

.oribi-for-ecommerce .scroll-page .panel .side p {
  line-height: 16px;
}

.oribi-for-ecommerce .scroll-page .panel:last-child {
  height: 75vh;
  padding-top: 0;
}

.oribi-for-ecommerce .scroll-page .panel:last-child main {
  height: 100%;
}

.oribi-for-ecommerce .mobile-portrait-images {
  display: none;
}

.oribi-for-ecommerce-only .fancybox-navigation .fancybox-button--arrow_left,
.oribi-for-ecommerce-only .fancybox-navigation .fancybox-button--arrow_right,
.oribi-for-ecommerce-only .fancybox-toolbar .fancybox-button--close {
  background-color: transparent;
}

@media (max-width: 1199px) {
  .oribi-for-ecommerce .scroll-page .panel header {
    padding-top: 10px;
  }

  .oribi-for-ecommerce .scroll-page .panel:first-child header h1 {
    margin-bottom: 0;
  }
}

@media (max-width: 1023px) and (min-width: 991px) {
  .oribi-for-ecommerce .scroll-page .panel:first-child video {
    top: 145px;
  }

  .oribi-for-ecommerce .scroll-page .panel:first-child .video.line:after {
    bottom: 35px;
  }
}

@media (max-width: 1023px) {
  .oribi-for-ecommerce .scroll-page .panel:first-child video {
    top: unset;
  }
}

@media screen and (max-width: 1000px) and (min-width: 375px) {
  .oribi-for-ecommerce .scroll-page .panel header h1 {
    font-size: 32px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 320px) {
  .oribi-for-ecommerce .scroll-page .panel:last-child {
    height: auto;
  }

  .oribi-for-ecommerce .scroll-page .panel:first-child .side {
    padding: 25px 30px;
  }

  .oribi-for-ecommerce .scroll-page .panel header div {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 375px) and (min-width: 320px) {
  .oribi-for-ecommerce .scroll-page .panel header h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (max-width: 425px) {
  .oribi-for-ecommerce .mobile-portrait-images {
    display: block !important;
  }

  .oribi-for-ecommerce .landscape-images {
    display: none !important;
  }
}