.oribi-vs-ga-wrapper {
  font-family: 'Roboto', sans-serif;
}

.oribi-vs-google-analytics-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

 .oribi-vs-google-analytics-button {
  height: 69px;
  width: 339px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #484F59;
  border: unset;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  padding: 0;
}

.oribi-vs-ga-wrapper .oribi-vs-google-analytics-button:hover {
  cursor: pointer;
}

/* Start of Analytics section */
.oribi-vs-ga-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 79px;
  max-width: 1257px;
  width: 100%;
}

.oribi-vs-ga-section-title {
  font-weight: 900;
  font-size: 55px;
  line-height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: #FFC006;
  margin-top: 20px;
}

.oribi-vs-ga-wrapper .site-description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 769px;
  width: 100%;
}

.oribi-vs-ga-wrapper .short-block {
  margin-top: 30px;
}

.oribi-vs-ga-wrapper .meet-oribi-block {
  margin-top: 20px;
}

.oribi-vs-ga-wrapper .site-description-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #484848;
}

.oribi-vs-ga-wrapper .site-description-content {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #484848;
}

.oribi-vs-ga-wrapper .site-description-content > span {
  display: inline-block;
}

.oribi-vs-ga-wrapper .oribi-vs-google-analytics-hr {
  display: none;
  width: 260px;
  margin: 40px 57px 0 57px;
  border: 1px solid #DADADA;
}

.oribi-vs-ga-wrapper .advantages-block {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.oribi-vs-ga-wrapper .advantages-block > .advantages:nth-child(1) {
  width: 346px;
}

.oribi-vs-ga-wrapper .advantages-block > .advantages:nth-child(2) {
  width: 327px;
}

.oribi-vs-ga-wrapper .advantages-block > .advantages:nth-child(3) {
  width: 366px;
}

.oribi-vs-ga-wrapper .advantages-block > .advantages:nth-child(3) > .advantages-description {
  width: 334px;
}

.oribi-vs-ga-wrapper .advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oribi-vs-ga-wrapper .advantages-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
  text-align: center;
}

.oribi-vs-ga-wrapper .advantages-logo {
    height: 90px;
    margin: 15px 0;
}

.oribi-vs-ga-wrapper .advantages-description {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  max-width: 346px;
  width: 100%;
}

.oribi-vs-ga-wrapper .trial-button-block {
  margin-top: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.oribi-vs-ga-wrapper .trial-button {
  background: #FFC006;
  border-radius: 35px;
  cursor: pointer;
  transition: none;
}

.oribi-vs-ga-wrapper .trial-button a, .oribi-vs-ga-wrapper .question-button a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.oribi-vs-ga-wrapper .trial-button > a:hover, .oribi-vs-ga-wrapper .question-button > a:hover {
  text-decoration: none;
}

.oribi-vs-ga-wrapper .trial-button:hover {
  background: #f6c544;
  border-color: #f6c544;
  color: #fff;
}

/* End of Analytics section */

/* Start of Features section */
.oribi-vs-ga-wrapper .features-section {
  display: flex;
  flex-direction: column;
  margin-top: 97px;
}

.oribi-vs-ga-wrapper .features-header-block {
  display: flex;
  flex-direction: row;
  margin: 0 18px 0 27px;
}

.oribi-vs-ga-wrapper .features-header-block > .feature:nth-child(1) {
  width: 28%;
}

.oribi-vs-ga-wrapper .features-header-block > .feature:nth-child(1) span {
  display: inline-block;
  margin-left: 20px;
}

.oribi-vs-ga-wrapper .features-header-block > .feature:nth-child(2) {
  width: 36%;
  background: #F9F9F9;
  margin-left: -40px;
}

.oribi-vs-ga-wrapper .features-header-block > .feature:nth-child(2) span {
  display: inline-block;
  margin-left: 40px;
}

.oribi-vs-ga-wrapper .features-header-block > .feature:nth-child(3) {
  width: 36%;
  margin-left: 40px;
}

.oribi-vs-ga-wrapper .feature {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #404F54;
  height: 50px;
}

.oribi-vs-ga-wrapper .features-wrapper {
  margin: 0 18px 0 27px;
}

.oribi-vs-ga-wrapper .features-wrapper .collapse-block:last-child {
  margin-bottom: 0;
}

.oribi-vs-ga-wrapper .white-color {
  color: #FCFCFC;
}

.oribi-vs-ga-wrapper .oribi-vs-ga-main-div {
  display: flex;
  flex-direction: row;
  max-width: 1395px;
  width: 100%;
  background: #404F54;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.13);
}

.oribi-vs-ga-wrapper .feature-header-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 339px;
  width: 100%;
}

.oribi-vs-ga-wrapper .head-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  width: 189px;
  margin-left: 19px;
}

.oribi-vs-ga-wrapper .oribi-vs-ga-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.oribi-vs-ga-wrapper .oribi-vs-ga-title {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.oribi-vs-ga-wrapper .oribi-vs-ga-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 9px 0 15px;
  width: 100%;
  max-width: 394px;
  font-size: 14px;
  line-height: 18px;
  padding-right: 35px;
}

.oribi-vs-ga-wrapper .circle-icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
  width: 30px;
  height: 30px;
  border: 1px solid #F9F9F9;
  border-radius: 60px;
  box-sizing: border-box;
}

.oribi-vs-ga-wrapper .square-icon-green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 13px 9px 0 0;
  background: #61B61F;
}

.oribi-vs-ga-wrapper .square-icon-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 13px 9px 0 0;
  background: #FFC006;
}

.oribi-vs-ga-wrapper .square-icon-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 13px 9px 0 0;
  background: #FA0000;
}

.oribi-vs-ga-wrapper .oribi-vs-ga-description-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 18px;
  width: 36%;
}

.oribi-vs-ga-wrapper .collapse-block {
  margin-bottom: 30px;
}

.oribi-vs-ga-wrapper .events-building-header {
  min-height: 135px;
  cursor: pointer;
}

.oribi-vs-ga-wrapper .events-building-body .circle-icon-white {
  position: relative;
}

.oribi-vs-ga-wrapper .events-building-header .toggle {
  transform: rotate(90deg);
  position: absolute;
}

.oribi-vs-ga-wrapper .events-building-body {
  display: flex;
  flex-direction: column;
  color: #404F54;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.oribi-vs-ga-wrapper .events-building-body .content-block {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #DADADA;
  color: black;
}

.oribi-vs-ga-wrapper .events-building-body .without-content {
  display: flex;
  justify-content: center;
}

.oribi-vs-ga-wrapper .events-building-body .content-block:last-child {
  border-bottom: 0;
}

.oribi-vs-ga-wrapper .events-building-body .middle-block {
  background: #F9F9F9;
  margin-left: -40px;
}

.oribi-vs-ga-wrapper .events-building-body .oribi-vs-ga-head {
  margin-top: 7px;
}

.oribi-vs-ga-wrapper .events-building-body .middle-block .oribi-vs-ga-head,
.oribi-vs-ga-wrapper .events-building-body .middle-block .oribi-vs-ga-content {
  margin-left: 40px;
}

.oribi-vs-ga-wrapper .events-building-body .last-block {
  margin-left: 40px;
}

.oribi-vs-ga-wrapper .events-building-body .feature-header-title {
  font-size: 24px;
  line-height: 28px;
  color: #404F54;
  font-weight: bold;
}

.oribi-vs-ga-wrapper .events-building-body .feature-header-title .title {
  margin: 0 50px 0 45px;
}

.oribi-vs-ga-wrapper .desc-center {
  justify-content: center;
}

.oribi-vs-ga-wrapper .mobile-header-right-side,
.oribi-vs-ga-wrapper .mobile-read-more-block {
  display: none;
}

/* End of Features section */

/* Start of Know more section */
.oribi-vs-ga-wrapper .know-more-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.oribi-vs-ga-wrapper .know-more-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 174px;
  max-width: 765px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #484848;
}

.oribi-vs-ga-wrapper .know-more-button {
  margin: 45px 0 129px 0;
  border: 2px solid #0037F7;
  box-sizing: border-box;
  width: 300px;
  height: 55px;
  background: #F2F2F2;
}

.oribi-vs-ga-wrapper .know-more-button > a:hover {
  text-decoration: none;
}

.oribi-vs-ga-wrapper .know-more-button a {
  color: #0037F7;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.oribi-vs-ga-wrapper .know-more-button a:hover {
  color: #0134e4;
}

/* End of Know more section */

/* Start of Question more section */
.oribi-vs-ga-wrapper .question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1257px;
  width: 100%;
  margin: 0 auto;
  background: #FFC006;
}

.oribi-vs-ga-wrapper .question-body {
  padding: 0 30px;
}

.oribi-vs-ga-wrapper .question-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oribi-vs-ga-wrapper .question-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #484848;
  margin-top: 139px;
  text-align: center;
}

.oribi-vs-ga-wrapper .question-1-block {
  margin-top: 30px;
  max-width: 900px;
  width: 100%;
}

.oribi-vs-ga-wrapper .question-title-1, .oribi-vs-ga-wrapper .question-title-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.oribi-vs-ga-wrapper .question-toggle-arrow .toggle,
.oribi-vs-ga-wrapper .question-toggle-arrow .toggle {
  transform: rotate(180deg);
}

.oribi-vs-ga-wrapper .toggle-second {
  margin-bottom: 27px;
}

.oribi-vs-ga-wrapper .question-title-1 > span, .oribi-vs-ga-wrapper .question-title-2 > span {
  margin-bottom: 7px;
}

.oribi-vs-ga-wrapper .question-title-1 > img, .oribi-vs-ga-wrapper .question-title-2 > img {
  margin-left: 10px;
}

.oribi-vs-ga-wrapper .question-2-block {
  margin-top: 76px;
  max-width: 900px;
  width: 100%;
}

.oribi-vs-ga-wrapper .answer {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  color: #484848;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.oribi-vs-ga-wrapper .answer-1 {
  height: auto;
}

.oribi-vs-ga-wrapper .answer-2 {
}

.oribi-vs-ga-wrapper .text-link {
  border-bottom: 1px solid #484848;
  text-decoration: none;
}

.oribi-vs-ga-wrapper .question-button-block {
  margin: 129px 0 112px 0;
}

.oribi-vs-ga-wrapper .question-button {
  background: #FFFFFF;
  border-radius: 35px;
  cursor: pointer;
}

.oribi-vs-ga-wrapper .question-button:hover > a {
  color: #000000
}

.oribi-vs-ga-wrapper .question-button > a, .oribi-vs-ga-wrapper .trial-button > a {
  text-decoration: none;
}

/* End of Question more section */


/*Responsive Design*/
@media screen and (max-width: 1280px) {
  .oribi-vs-ga-wrapper .oribi-vs-ga-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 1199px) {
  .oribi-vs-ga-wrapper .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .oribi-vs-ga-wrapper .oribi-vs-ga-main-div {
    flex-direction: column;
    box-shadow: none;
  }

  .oribi-vs-ga-wrapper .features-header-block {
    display: none;
  }

  .oribi-vs-ga-wrapper .collapse-block {
    width: 100%;
    margin-bottom: 20px;
  }

  .oribi-vs-ga-wrapper .feature-header-title {
    width: initial;
    height: 100px;
    padding: 0 20px;
    position: relative;
    max-width: 100%;
  }

  .oribi-vs-ga-wrapper .mobile-header-right-side {
    position: absolute;
    right: 10px;
    display: flex;
    width: 160px;
    height: 60px;
    margin-top: 5px;
  }

  .oribi-vs-ga-wrapper .mobile-header-right-side .left-side,
  .oribi-vs-ga-wrapper .mobile-header-right-side .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .oribi-vs-ga-wrapper .mobile-header-right-side .left-side {
    border-right: 1px solid white;
  }

  .oribi-vs-ga-wrapper .mobile-header-right-side .left-side > div,
  .oribi-vs-ga-wrapper .mobile-header-right-side .right-side > div {
    margin: 0;
  }

  .oribi-vs-ga-wrapper .mobile-header-right-side .left-side > span,
  .oribi-vs-ga-wrapper .mobile-header-right-side .right-side > span {
    display: inline-block;
    position: absolute;
    top: -17px;
    font-size: 14px;
    line-height: 16px;
  }

  .oribi-vs-ga-wrapper .events-building-header {
    cursor: default;
  }

  .oribi-vs-ga-wrapper .head-title {
    font-size: 18px;
    line-height: 21px;
    margin-left: 0;
  }

  .oribi-vs-ga-wrapper .oribi-vs-ga-head {
    margin-top: 5px;
  }

  .oribi-vs-ga-wrapper .oribi-vs-ga-description-body {
    width: initial;
    padding: 0 20px 20px;
    background: white;
    color: #404F54;
    border-bottom: 1px solid #DADADA;
  }

  .oribi-vs-ga-wrapper .oribi-vs-ga-content {
    max-width: none;
    margin: 15px 0 20px;
  }

  .oribi-vs-ga-wrapper .circle-icon-white {
    display: none;
  }

  .oribi-vs-ga-wrapper .mobile-read-more-block {
    display: block;
    background: white;
    margin-top: 3px;
  }

  .oribi-vs-ga-wrapper .mobile-read-more-block.without-content {
    padding-top: 20px;
  }

  .oribi-vs-ga-wrapper .read-more-btn,
  .oribi-vs-ga-wrapper .read-less-btn {
    width: initial;
    padding: 0 20px;
    color: black;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .oribi-vs-ga-wrapper .read-less-btn {
    display: none;
  }

  .oribi-vs-ga-wrapper .less-btn-mt {
    margin-top: 20px;
  }

  .oribi-vs-ga-wrapper .desc-mobile-mb {
    margin-bottom: 20px;
  }

  .oribi-vs-ga-wrapper .events-building-body .content-block {
    flex-direction: column;
  }

  .oribi-vs-ga-wrapper .events-building-body .feature-header-title {
    font-size: 18px;
    line-height: 21px;
    height: auto;
    padding: 12px 0;
    background: #404F54;
    color: white;
  }

  .oribi-vs-ga-wrapper .events-building-body .feature-header-title .title {
    margin: 0 20px;
  }

  .oribi-vs-ga-wrapper .events-building-body .middle-block {
    margin-left: 0;
    background: white;
  }

  .oribi-vs-ga-wrapper .events-building-body .middle-block .oribi-vs-ga-head,
  .oribi-vs-ga-wrapper .events-building-body .middle-block .oribi-vs-ga-content {
    margin-left: 0;
  }

  .oribi-vs-ga-wrapper .events-building-body .last-block {
    margin-left: 0;
    border-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .oribi-vs-ga-wrapper .oribi-vs-google-analytics-hr {
    display: block;
  }

  .oribi-vs-ga-wrapper .site-description-title, .oribi-vs-ga-wrapper .advantages-title {
    font-size: 20px;
  }

  .oribi-vs-ga-wrapper .question-title-1 > span, .oribi-vs-ga-wrapper .question-title-2 > span {
    font-size: 20px;
  }

  .oribi-vs-ga-wrapper .advantages-block {
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
  }

  .oribi-vs-ga-wrapper .advantages-block > .advantages:first-child {
    margin-top: 0;
  }

  .oribi-vs-ga-wrapper .advantages {
    margin-top: 50px;
  }

  .oribi-vs-ga-wrapper .know-more-title {
    margin-top: 75px;
  }

  .oribi-vs-ga-wrapper .know-more-button {
    margin-bottom: 75px;
  }

  .oribi-vs-ga-wrapper .question-title {
    margin-top: 68px;
  }

  .oribi-vs-ga-wrapper .question-button-block {
    margin: 98px 0 50px 0;
  }
}

@media only screen and (max-width: 991px) {
  body {
    margin: 0;
  }

  .oribi-vs-ga-wrapper .site-description-title, .oribi-vs-ga-wrapper .advantages-title {
    font-size: 20px;
  }

  .oribi-vs-ga-wrapper .question-title-1 > span, .oribi-vs-ga-wrapper .question-title-2 > span {
    font-size: 20px;
  }

  .oribi-vs-ga-wrapper .oribi-vs-google-analytics-hr {
    display: block;
  }

  .oribi-vs-ga-wrapper .advantages-block {
    margin-top: 39px;
  }

  .oribi-vs-ga-wrapper .features-wrapper {
    margin: 0;
  }

  .oribi-vs-ga-wrapper .oribi-vs-ga-section-title {
    margin-top: 0;
    font-size: 24px;
  }

  .oribi-vs-ga-wrapper .site-description-content {
    padding: 0 15px;
  }

  .oribi-vs-ga-wrapper .know-more-title {
    margin-top: 75px;
  }

  .oribi-vs-ga-wrapper .know-more-button {
    margin-bottom: 75px;
  }

  .oribi-vs-ga-wrapper .question-title {
    margin-top: 68px;
  }
}

@media screen and (max-width: 767px) {
  .oribi-vs-ga-wrapper .question-button-block {
    margin: 90px 0 50px 0;
  }
}
