.pricing-wrapper {
  height: 100%;
  min-height: 730px;
  letter-spacing: .3px;
}

#header {
  -moz-box-shadow: unset;
  -o-box-shadow: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.pricing-wrapper .clients-logos {
  height: 400px;
  padding-right: 20px;
  padding-left: 20px;
}

.pricing-wrapper .clients-logos__btn-wrapper {
  display: none;
}

.onboarding-types {
  padding: 70px calc((100% - 1000px) / 2) 0;
  margin: 0 auto 200px;
  color: #222B37;
  text-align: center;
}

.onboarding-types__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}

.onboarding-types__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 690px;
  margin: 100px auto 0;
}

.onboarding-types__item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 190px;
  height: 190px;
  border: 2px solid #E0E0E0;
}

.onboarding-types__item:hover {
  cursor: pointer;
  border-color: #fcca3c;
}

.onboarding-types__logo img {
  width: 60px;
  height: 60px;
}

.onboarding-types__caption {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.onboarding-types__caption:hover {
  cursor: pointer;
}

#pricing-slider-step2 {
  display: none;
}

/*  ================== STEP 2 ====================*/

.slider-separator {
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
}

.tabs-panel {
  display: flex;
  justify-content: space-around;
  padding: 15px calc((100% - 1000px) / 2) 0;
  margin: 0;
  list-style: none;
}

.tabs-panel__tab {
  position: relative;
  display: inline-block;
  width: 33.33%;
  color: #222B37;
  text-align: center;
  cursor: pointer;
}

.tabs-panel__tab:after {
  display: block;
  content: '';
  border-bottom: 3px solid #ffc107;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
}

.tabs-panel__tab:hover:after {
  transform: scaleX(1);
}

.tabs-panel__tab.active:after {
  border-color: #657480;
  transform: scaleX(1);
}

.tabs-panel__tab.active {
  font-weight: 700;
  color: #657480;
}

.tabs-panel__tab:hover:before {
  display: block;
}

.tabs-panel__tab span {
  display: inline-block;
  width: 159px;
  padding: 17px 0;
}

.tabs-panel__tab:hover:not(.active) span {
  background: #FAFAFA;
  border-radius: 9px;
}

.tabs-bottom-hr {
  height: 10px;
  margin: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border: 0;
  opacity: 0.05;
}

.tab-content_wrapper {
  padding: 53px calc((100% - 1000px) / 2) 100px;
}

.tab-content {
  display: none;
}

.tab-content.grid-container.active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 601px 309px;
  -ms-grid-rows: 236px 255px;
  grid-template-columns: 601px 309px;
  grid-template-rows: 236px 255px;
  grid-column-gap: 90px;
  grid-template-areas: "main sidebar" "footer sidebar";
}

.tab-content__slider {
  grid-area: main;
}

.tab-content__plans-aside {
  grid-area: sidebar;
}

.features-items-wrapper {
  grid-area: footer;
}


/*  ======  NEW   jQuery-ui slider  =================*/

.tab-content__slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-right: 90px;
}

.tab-content__slider-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #222B37;
}

.tab-content__slider-caption_tablet-mobile {
  display: none;
}


.slider__initial-tooltip {
  position: absolute;
  top: 50px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 326px;
  height: auto;
  padding: 5px 18px;
  margin: 7px auto 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #FFF;
  text-align: center;
  visibility: hidden;
  background: #6B5BCD;
  border: 1px solid #DDD;
  border-radius: 14px;
  transform: translateX(-50%);
}

.slider__initial-tooltip_agency {
  max-width: 446px;
}

.init-slider-tooltip {
  animation-name: initial-tooltip-frame;
  animation-duration: 3s;
}

@keyframes initial-tooltip-frame {
  10% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/*slider card animation*/
.tab-content__price-tag {
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  transform: translateX(-50%);
}

.init-animation-label {
  animation: tab-content__price-tag-animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 3s;
}

@keyframes tab-content__price-tag-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider-circle-toggle {
  cursor: pointer;
  background: #6B5BCD;
  box-shadow: 0 0 0 rgba(107, 91, 205, 0.5);
  animation: pulse 3s;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 3;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(107, 91, 205, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(107, 91, 205, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(107, 91, 205, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(107, 91, 205, 0.5);
    box-shadow: 0 0 0 0 rgba(107, 91, 205, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(107, 91, 205, 0);
    box-shadow: 0 0 0 15px rgba(107, 91, 205, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(107, 91, 205, 0);
    box-shadow: 0 0 0 0 rgba(107, 91, 205, 0);
  }
}

.tab-content__bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 83px;
  background-image: url(../../images/pricing3/pricing_bubble-contour-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 172px 84px;
}

.bubble__visitors {
  margin-top: 10px;
}

.bubble__visitors-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.bubble__visitors-icon img {
  width: 100%;
}

.bubble__visitors-thumb-position {
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  color: #46535D;
  text-align: center;
}

.bubble__per-month {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #222B37;
}

.tab-content__slider .ui-corner-all {
  border-radius: 12px;
}

.tab-content__slider .ui-slider-handle {
  top: -0.8em;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 4px solid #ffc107;
  border-radius: 50%;
  outline: none;
}

.tab-content__slider .ui-slider-horizontal {
  height: 6px;
}

.tab-content__slider .ui-widget.ui-widget-content {
  margin-top: 120px;
  background-color: #ddd;
  border: 0;
}

.tab-content__slider .ui-widget-header {
  background-color: #FFC107;
}

.tab-content__slider .slider-bar {
  position: relative;
}

.tab-content__slider .slider-bar:before {
  position: absolute;
  top: -35px;
  left: 13px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #323C47;;
  text-align: center;
  letter-spacing: .3px;
  content: "1,000";
}

.tab-content__slider .slider-bar:after {
  position: absolute;
  right: 15px;
  bottom: 25px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #323C47;;
  text-align: center;
  letter-spacing: .3px;
  content: "1M";
}

.tab-content__slider .tabAgency.slider-bar:before {
  content: "1";
}

.tab-content__slider .tabAgency.slider-bar:after {
  content: "50";

}

.features-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  padding-top: 28px;
  margin-top: 22px;
  border-top: 1px solid #E0E0E0;
}

.features-items {
  display: flex;
  flex-direction: row;
}

.features-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.features-item:hover {
  cursor: pointer;
}

.features-item div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 235px;
  margin-top: 30px;
  margin-right: 22px;
}

.features-item > div img {
  width: 35px;
  height: 35px;
  padding-right: 5px;
}

.features-item img.chevron-icon {
  visibility: hidden;
}

.features-item span {
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #657480;
}

.features-item-mobile {
  display: none;
}

.hidden-hint {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 347px;
  height: auto;
  padding: 20px 20px;
  margin-left: 27px;
  background: #4E555F;
  border-radius: 5px;
}

.hidden-hint p {
  margin: 0 0;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}

.hidden-hint p.title {
  font-weight: bold;
}

.features-item:hover + .hidden-hint {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.tab-content__plans-aside {
  width: 100%;
  max-width: 310px;
}

.plans-aside__general-options {
  display: flex;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.plans-aside__period {
  display: inline-block;
  width: 50%;
  height: 50px;
  padding: 17px 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #657480;
  text-align: center;
  text-transform: uppercase;
}

.plans-aside__period:first-child {
  position: relative;
  border-right: 1px solid #E0E0E0;
}

.plans-aside__period:first-child:before {
  position: absolute;
  top: -7px;
  right: 40px;
  display: inline-block;
  width: 60px;
  height: 15px;
  padding: 1px 4px;
  font-size: 12px;
  font-weight: 500;
  font-variant: small-caps;
  color: #fff;
  text-align: center;
  letter-spacing: .6px;
  content: "Save 18%";
  background: #6B5BCD;
  border-radius: 10px;
}

.plans-aside__period.active {
  font-weight: 900;
  color: #fff;
  background-color: #657480;
}

.plans-aside__period:first-child.active:before {
  display: none;
}

.plans-aside__period:hover {
  cursor: pointer;
}

.plans-aside__period:not(.active):hover {
  background-color: #FAFAFA;
}

.plans-aside__cards {
  margin-top: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

/* To avoid doubling of bottom border with last card */
.plans-aside__cards {
  border-bottom: none;
}

/* collapsed state */
.plans-aside_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  padding: 15px 0 0;
  cursor: pointer;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 4px;
}

/* expanded state*/
.plans-aside_card.active {
  height: auto;
  padding-bottom: 20px;
  background-color: #FFF;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 4px;
}

.plans-aside_card:last-child.active {
  height: 277px;
  padding-bottom: 80px;
}

.plans-aside_card:not(.active):hover {
  background-color: #F1F5F6;
}

.plans-aside_card:not(.active):hover .radiomark {
  background-color: #fff;
}

.plans-aside__over1Mvis-desc {
  width: 100%;
  max-width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #222B37;
  text-align: center;
}

.plans-aside_card:last-child.active .plans-aside__filled-button {
  margin-top: 20px;
}

/* Customize the label (the container) */
.plans-aside__radio-label {
  position: relative;
  display: block;
  align-self: flex-start;
  padding-left: 25px;
  margin: 0 0 0 10px;
  font-size: 14px;
  line-height: 18px;
  color: #657480;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.plans-aside_card.active .plans-aside__radio-label {
  color: #222B37;
}

.plans-aside_card.active .plans-aside__traffic {
  font-weight: 700;
}

/* Hide the browser's default radio button */
.plans-aside__radio-label input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #323C47;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  position: absolute;
  display: none;
  content: "";
}

/* Show the indicator (dot/circle) when checked */
.plans-aside__radio-label input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.plans-aside__radio-label .radiomark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: #FFC107;
  border-radius: 50%;
}

.price-card-body {
  display: none;
}

.plans-aside_card.active .price-card-body {
  display: block;
}

.plans-aside__price-sum {
  margin-top: 50px;
  text-align: center;
}

.plans-aside__price-sum_emphasized {
  font-size: 55px;
  font-weight: 700;
  line-height: 71px;
  color: #222B37;
}

.plans-aside__price-sum_emphasized span:first-child {
  margin-right: -10px;
  margin-left: -12px;
}

.plans-aside__price-sum_emphasized span:nth-child(2) {
  font-size: 18px;
  line-height: 23px;
}

.plans-aside__price-sum_period {
  margin-top: -10px;
  margin-left: 80px;
  font-size: 12px;
  line-height: 16px;
  color: #879099;
  text-align: center;
}

.plans-aside__filled-button {
  margin-top: 30px;
}

.plans-aside__filled-link {
  display: block;
  width: 270px;
  max-width: 100%;
  height: 40px;
  padding: 11px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #FFC107;
  border-radius: 4px;
}

.plans-aside__filled-link:hover {
  text-decoration: none;
  background-color: #ECB100;
}

.plans-aside__no-credit-card {
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: #657480;
  text-align: center;
}

.middle-btns {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 334px;
  padding: 100px calc((100% - 1000px) / 2) 0;
  background-color: #FAFAFA;
  border-top: 1px solid #EFECEC;
  border-bottom: 1px solid #EFECEC;
}

.middle-btns__block {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 134px;
}

.middle-btns__logo {
  margin-right: 20px;
}

.middle-btns__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 322px;
}

.middle-btns__text {
  font-size: 16px;
  line-height: 21px;
  color: #222B37;
  text-align: left;
}

.middle-btns__text span {
  display: block;
  font-weight: bold;
}

.middle-btns__button {
  margin-top: 10px;
}

.middle-btns_link {
  display: block;
  width: 118px;
  height: 40px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #FFC107;
  text-align: center;
  border: 2px solid #FFC107;
  border-radius: 4px;
}

.middle-btns_link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ffc107;
}

.middle-btns__block:nth-child(2) .middle-btns__button {
  margin-top: 31px;
}

.feedback-SYS:before {
  display: block;
  width: 667px;
  padding-top: 5px;
  margin: 0 auto;
  content: "";
  border-bottom: 1px solid #ddd;
}

.feedback-SYS {
  padding: 0 calc((100% - 1000px) / 2) 90px;
  margin: 0 auto;
  text-align: center;
}

.feedback-SYS__quote {
  position: relative;
  width: 100%;
  max-width: 720px;
  padding-top: 10px;
  margin: 90px auto 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #46535D;
  text-align: center;
}

.feedback-SYS__quote:before {
  position: absolute;
  top: 0;
  left: -25px;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../../images/pricing3/double-quotes-mini-left.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50px 40px;
}

.feedback-SYS__quote:after {
  position: absolute;
  top: -10px;
  left: 20px;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../../images/pricing3/double-quotes-mini-right.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50px 40px;
}

.feedback-SYS__creds {
  width: 100%;
  max-width: 720px;
  margin: 10px auto 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #879099;
  text-align: right;
}

.faq {
  padding: 70px calc((100% - 1000px) / 2) 146px;
  background: #FAFAFA;
  border-top: 1px solid #EFECEC;
}

.faq__header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #222B37;
  text-align: center;
}

.faq__row {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.faq__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.faq__question-mark {
  margin-top: 15px;
}

.faq__question {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ECB100;
  text-align: center;
}

.faq__desc {
  padding: 0 15px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #222B37;
  text-align: center;
}

.experts-block_wrapper {
  padding: 70px calc((100% - 1000px) / 2) 0;
  background-color: #494F58;
}

.experts-block {
  display: flex;
  align-items: flex-start;
  height: 381px;
  background-image: url(../../images/pricing3/pricing-v3_experts-photo-min.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  border-bottom: 1px solid #657480;

}

.experts-block__text {
  color: #fff;
}

.experts-block__header {
  width: 100%;
  max-width: 450px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.experts-block__paragraph {
  width: 100%;
  max-width: 300px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.experts-block__button {
  margin-top: 20px;
}

.experts-block__link {
  display: inline-block;
  width: 100%;
  max-width: 192px;
  height: 40px;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: #FFC107;
  border-radius: 4px;
}

.experts-block__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ECB100;
}

.experts-block__photo {
  width: auto;
  height: 100%;
  max-height: 350px;
}

/* start desktop popup */

.contactFormPopup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.4);
}

.talk-to-us-form-desktop {
  display: flex;
  flex-direction: row;
  width: 1260px;
  height: 641px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.42);
}

.form-desktop-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 541px;
  height: 100%;
  padding: 51px 0 0 32px;
  background-color: #FFC107;
}

.form-desktop-left-title {
  width: 330px;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .35px;
}

.talk-to-us-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 316px;
  margin-top: 74px;
  background-color: #FFC107;
}

.talk-to-us-footer-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.head-img {
  width: 120px;
  height: 120px;
  margin: 0 20px 0 -9px;
  background-image: url(../../images/pricing3/d-sanchez-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 60px;
}

.head-text {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  letter-spacing: 0.35px;
}

.head-text > span {
  display: block;
}

.head-text > span:nth-child(1) {
  font-weight: 600;
}

.head-text > span:nth-child(2) {
  font-style: italic;
}

.talk-to-us-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 51px 55px 0 69px;
}

.close-popup-img {
  position: absolute;
  top: 6px;
  right: 14px;
  z-index: 800;
  width: 10px;
  height: 24px;
  cursor: pointer;
}

.close-popup-img:hover {
  cursor: pointer;
}

.talk-to-us-footer-body {
  position: relative;
  width: 466px;
  margin: 50px 0 0 10px;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  letter-spacing: .35px;
}

.talk-to-us-footer-body span {
  display: inline-block;
  font-weight: 500;
}

.talk-to-us-double-quotes {
  width: 58px;
  height: 47px;
  background-image: url(../../images/pricing3/double-quotes-mini-left.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.talk-to-us-double-quotes.talk-to-us-top-left {
  position: absolute;
  top: -12px;
  left: -20px;
}

.talk-to-us-double-quotes.talk-to-us-bottom-right {
  position: absolute;
  right: -5px;
  bottom: -16px;
  transform: rotateY(180deg);
}

.form-desktop-right {
  position: relative;
  width: 719px;
}

.talk-to-us-title {
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .35px;
}

.talk-to-us-users-data-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 33px;
}

.talk-to-us-users-data {
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 70px;
  margin-top: 27px;
  border-bottom: 1px solid #979797;
}

.talk-to-us-users-data:nth-child(7) {
  width: 100%;
  height: 86px;
  border: none;
  border-bottom: 1px solid #979797;
}

.talk-to-us-users-data:nth-child(7) > textarea {
  height: 60px;
  margin-top: 10px;
  resize: none;
  border: none;
}

.talk-to-us-users-data > label {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  letter-spacing: .35px;
}

.talk-to-us-users-data > label > span {
  color: #F7B500;
}

.talk-to-us-users-data > input {
  height: 40px;
  padding-left: 5px;
  margin-top: 15px;
  border: unset;
}

.talk-to-us-users-data > .users-data-custom-select > select {
  width: 92px;
  margin-top: 34px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
}

.talk-to-us-error-message {
  display: none;
  width: 100%;
  height: 23px;
  margin-top: 4px;
  background-color: rgba(254, 56, 56, 0.21);
}

.talk-to-us-error-message > p {
  margin: 0 0 0 9px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: #C93B3B;
  letter-spacing: .35px;
}

.talk-to-us-error-message.visible {
  display: block;
}

.talk-to-us-submit-button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.talk-to-us-submit-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 33px;
  margin: 26px 0 17px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  background-color: #FFC107;
  border: none;
  border-radius: 3px;
}

.success-block-desktop {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 93px;
}

.success-block-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .35px;
}

.success-block-logo {
  margin-top: 40px;
}

.success-block-message {
  width: 500px;
  margin-top: 17px;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  text-align: center;
  letter-spacing: .35px;
}

.success-block-close-btn {
  margin-top: 40px;
}

.success-block-close-btn > .talk-to-us-submit-button {
  margin: 0;
}

/*End desktop popup*/

@media screen and (max-width: 1024px) {
  .form-desktop-left {
    width: 425px;
  }

  .talk-to-us-form-desktop {
    width: 98%;
  }

  .talk-to-us-footer-body {
    width: 370px;
    margin-left: -3px;
    font-size: 14px;
  }

  .talk-to-us-double-quotes.talk-to-us-bottom-right {
    top: 88px;
    right: 43px;
  }

  .talk-to-us-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .talk-to-us-users-data {
    width: 273px;
  }
}

@media screen and (max-width: 1023px) {
  .form-desktop-left {
    width: 368px;
    padding-top: 23px;
  }

  .form-desktop-right {
    width: 368px;
  }

  .talk-to-us-footer-body {
    width: 340px;
  }

  .talk-to-us-wrapper {
    padding-top: 25px;
  }

  .talk-to-us-users-data-wrapper {
    margin-top: 0;
  }

  .talk-to-us-users-data {
    width: 340px;
    height: 55px;
    margin-top: 10px;
  }

  .talk-to-us-users-data > input {
    margin-top: 10px;
  }

  .talk-to-us-users-data > .users-data-custom-select > select {
    margin-top: 15px;
  }

  .success-block-message {
    width: 100%;
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .features-items-wrapper {
    width: 500px;
  }

  .tab-content_wrapper {
    padding: 53px 25px 100px 25px;
  }

  .tab-content.grid-container.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px 310px;
    -ms-grid-rows: 236px 255px;
    grid-template-columns: 500px 310px;
    grid-template-rows: 236px 255px;
    grid-column-gap: 40px;
    grid-template-areas: "main sidebar" "footer sidebar";
  }

  .middle-btns__block .operator-icon {
    margin-left: 25px;
  }

  .faq__row {
    justify-content: space-around;
  }

  .faq__item {
    width: 270px;
  }

  .feedback-SYS__quote {
    max-width: 770px;
  }

  .experts-block_wrapper {
    padding-left: 25px;
  }

  .experts-block {
    background-position-x: 295px;
    background-position-y: bottom;
  }

  .experts-block__header {
    max-width: 467px;
  }

  .onboarding-types__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 12px;
    margin-top: 45px;
  }

  .onboarding-types__item {
    width: 170px;
    height: 170px;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .tab-content__price-tag {
    top: 30%;
    left: 50%;
  }

  .plans-aside__period:first-child:before {
    right: 116px;
  }

  .tab-content.grid-container.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 600px;
    -ms-grid-rows: 166px 430px auto;
    grid-template-columns: 600px;
    grid-template-rows: 166px 430px auto;
    grid-row-gap: 40px;
    grid-template-areas: "header" "main" "footer";
  }

  .tab-content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
  }

  .tab-content__slider {
    margin-right: 0;
    grid-area: header;
  }

  .tab-content__plans-aside {
    margin-top: 25px;
    grid-area: main;
  }

  .tab-content__slider {
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
  }

  .tab-content__slider-caption_desktop {
    display: none;
  }

  .tab-content__slider-caption_tablet-mobile {
    display: block;
    margin-top: 15px;
  }

  .tab-content__price-tag_tablet .tab-content__bubble {
    width: 194px;
    height: 72px;
    background-image: url(../../images/pricing3/pricing_bubble-contour-square.svg);
    background-size: cover;
  }

  .tabs-panel_wrapper .tab-content-wrapper {
    padding: 0 0;
  }

  .tabs-panel_wrapper .tab-content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider__initial-tooltip {
    top: 103px;
  }

  .tab-content__slider .ui-slider-handle {
    top: -1em;
    width: 40px;
    height: 40px;
    border-width: 5px;
  }

  .features-items-wrapper {
    width: 600px;
    padding-top: 100px;
    margin-top: 0;
    border-top: 0;
    grid-area: footer;
  }

  .features-items-wrapper,
  .features-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .plans-aside__cards {
    width: 600px;
  }

  .plans-aside__general-options {
    width: 600px;
  }

  .features-item-wrapper {
    border-bottom: 1px solid #DDD;
  }

  .features-item {
    justify-content: space-between;
    width: 600px;
  }

  .features-item div {
    justify-content: flex-start;
    margin-right: 0;
  }

  .features-item img.chevron-icon {
    margin: 30px 0 15px 0;
    visibility: visible;
  }

  .features-item .chevron-icon:hover {
    cursor: pointer;
  }

  .features-item .chevron-icon.active {
    transform: rotate(180deg);
  }

  .features-item:hover + .hidden-hint {
    display: none;
  }

  .hidden-hint {
    position: inherit;
    width: 560px;
    height: auto;
    padding: 0 0 20px 27px;
    margin-left: 0;
    background: transparent;
  }

  .hidden-hint p.title {
    display: none;
  }

  .hidden-hint p {
    font-size: 16px;
    color: #222B37;
  }

  .middle-btns {
    height: 646px;
    padding: 50px 0;
  }

  .middle-btns__block {
    height: 546px;
    padding: 0 20px;
  }

  .middle-btns__text {
    text-align: center;
  }

  .middle-btns__block {
    width: 100%;
  }

  .middle-btns__block:nth-child(1) .middle-btns__button {
    margin-bottom: 40px;
  }

  .middle-btns__block:nth-child(2)::before {
    width: calc(100% - 10px);
    height: 1px;
    margin-left: 5px;
    content: "";
    background-color: #DDDDDD;
  }

  .middle-btns__block:nth-child(2) .middle-btns__logo {
    margin: 40px 0 0 0;
  }

  .middle-btns__button,
  .middle-btns__block:nth-child(2) .middle-btns__button {
    margin-top: 20px;
  }

  .middle-btns {
    margin-top: 50px;
  }

  .middle-btns,
  .middle-btns__block,
  .middle-btns__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .middle-btns__details {
    max-width: 500px;
  }

  .feedback-SYS {
    padding: 0 0;
  }

  .feedback-SYS__quote {
    max-width: 550px;
    margin-top: 70px;
  }

  .feedback-SYS__quote:before {
    position: absolute;
    top: -10px;
    left: -28px;
  }

  .feedback-SYS__quote:after {
    position: absolute;
    top: 18px;
    right: 0;
    left: initial;
  }

  .feedback-SYS__creds {
    margin: 20px 0 45px 0;
    text-align: center;
  }

  .faq {
    padding: 50px calc((100% - 1000px) / 2) 20px;
  }

  .faq__row {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .faq__item {
    width: 500px;
    max-width: 500px;
    height: 196px;
    margin: 30px 0;
  }

  .faq__question {
    font-size: 18px;
  }

  .faq__desc {
    font-size: 16px;
  }

  .experts-block_wrapper {
    height: 623px;
    padding: 60px 0 0 0;
  }

  .experts-block {
    justify-content: center;
    height: 623px;
    text-align: center;
    background-image: url(../../images/pricing3/pricing-v3_experts-photo-min.svg);
    background-position: bottom 59px center;
    background-size: 484px;
  }

  .experts-block__header {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
  }

  .experts-block__paragraph {
    max-width: 500px;
    margin-top: 20px;
    line-height: 130%;
  }

  .experts-block__button {
    margin-top: 30px;
    font-size: 18px;
    line-height: 130%;
  }

  .experts-block__link {
    max-width: 335px;
  }
}

@media screen and (max-width: 425px) {
  .slider__initial-tooltip_agency {
    max-width: 446px;
  }

  .tab-content__price-tag {
    top: initial;
    bottom: 35px;
  }

  .tab-content__slider .ui-widget.ui-widget-content {
    width: 322px;
    margin: 130px auto 0;
  }

  .onboarding-types {
    padding-top: 30px;
  }

  @keyframes tab-content__price-tag-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .slider__initial-tooltip {
    top: initial;
    bottom: 65px;
  }

  .plans-aside__period:first-child:before {
    right: 53px;
  }

  .onboarding-types__header {
    padding: 0 12px;
  }

  .onboarding-types__item {
    width: 155px;
    height: 155px;
    margin: 5px;
  }

  .tabs-panel__tab span {
    width: 125px;
  }

  .tab-content.grid-container.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 355px;
    -ms-grid-rows: 166px 493px auto;
    grid-template-columns: 355px;
    grid-template-rows: 166px 462px auto;
    grid-row-gap: 40px;
    grid-template-areas: "header" "main" "footer";
  }

  .tab-content__slider {
    padding: 0 8px;
    margin-right: 74px;
  }

  .tab-content {
    width: 355px;
  }

  .tab-content_wrapper {
    padding-bottom: 0;
  }

  .tab-content__slider {
    width: 355px;
  }

  .tab-content__slider .ui-slider-handle.margin-left {
    margin-left: -1.4em;
  }

  .plans-aside__cards {
    width: 355px;
  }

  .plans-aside__general-options {
    width: 355px;
  }

  .features-items-wrapper {
    width: 355px;
    padding: 50px 0;
    margin-top: 0;
    border-top: 0;
  }

  .features-items {
    display: flex;
    flex-direction: column-reverse;
  }

  .features-items:first-child {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .features-item-wrapper {
    position: relative;
    width: 335px;
    border-bottom: 1px solid #DDD;
  }

  .features-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 335px;
    margin-right: 0;
  }

  .features-item div {
    margin-bottom: 15px;
  }

  .features-item img.chevron-icon {
    margin: 30px 0 15px 0;
    visibility: visible;
  }

  .features-item .chevron-icon:hover {
    cursor: pointer;
  }

  .hidden-hint {
    position: inherit;
    width: 290px;
    background: transparent;
  }

  .hidden-hint p {
    font-size: 16px;
    line-height: 130%;
    color: #4E555F;
  }

  .middle-btns {
    height: 667px;
    padding: 50px 0;
  }

  .middle-btns__block {
    width: 100%;
  }

  .feedback-SYS__quote:before {
    position: absolute;
    top: -10px;
    left: 35px;
  }

  .feedback-SYS__quote:after {
    position: absolute;
    top: 18px;
    right: 55px;
    left: initial;
  }

  .feedback-SYS__creds {
    margin: 20px 0 50px 0;
    text-align: center;
  }

  .faq__item {
    width: 355px;
    height: 217px;
  }

  .experts-block {
    -webkit-background-size: 364px 200px;
    background-size: 364px 200px;
  }

  .experts-block__paragraph {
    padding: 0 25px;
    font-size: 18px;
  }

  .contactFormPopup {
    padding: 60px 0 15px;
  }

  /* start talk to us form */
  .talk-to-us-form-desktop {
    flex-direction: column-reverse;
    width: 92%;
    height: auto;
    overflow: auto;
  }

  .form-desktop-right {
    width: 100%;
  }

  .talk-to-us-wrapper {
    padding: 41px 12px 0 11px;
  }

  .close-popup-img {
    top: 15px;
    right: 22px;
  }

  .talk-to-us-users-data-wrapper {
    flex-flow: column;
    width: 100%;
    margin-top: 0;
  }

  .talk-to-us-users-data {
    width: 100%;
    height: 57px;
    margin-top: 10px;
  }

  .talk-to-us-users-data > input {
    margin: 0;
  }

  .talk-to-us-users-data > .users-data-custom-select > select {
    margin-top: 10px;
  }

  .talk-to-us-error-message {
    margin-top: 10px;
    text-align: center;
  }

  .talk-to-us-submit-button-block {
    justify-content: center;
  }

  .talk-to-us-submit-button {
    width: 191px;
    height: 39px;
    font-size: 18px;
    color: #484F59;
  }

  .talk-to-us-submit-button:hover {
    outline: none;
  }

  .form-desktop-left {
    width: 100%;
    height: auto;
    padding: 13px 13px 0;
  }

  .form-desktop-left-title {
    display: none;
  }

  .talk-to-us-footer {
    width: 100%;
    margin: 0;
  }

  .head-text {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
  }

  .head-img {
    width: 82px;
    height: 82px;
    margin: 0 15px 0 0;
    background-image: url(../../images/pricing3/d-sanchez-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 60px;
  }

  .talk-to-us-footer-body {
    width: 100%;
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 18px;
  }

  .talk-to-us-double-quotes {
    width: 32px;
    height: 26px;
    background-image: url(../../images/pricing3/double-quotes-mini-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .talk-to-us-double-quotes.talk-to-us-top-left {
    position: absolute;
    top: 2px;
    left: 11px;
  }

  .talk-to-us-double-quotes.talk-to-us-bottom-right {
    position: absolute;
    top: 150px;
    right: 100px;
    transform: rotateY(180deg);
  }

  .success-block-desktop {
    padding-top: 41px;
  }

  .success-block-logo {
    margin-top: 32px;
  }

  .success-block-message {
    width: 260px;
    font-size: 18px;
    line-height: 21px;
  }

  .success-block-close-btn {
    margin-bottom: 40px;
  }

  .success-block-close-btn > .talk-to-us-submit-button {
    width: 75px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  /* end talk to us form */
}
