.roi-calc-wrapper,
input[type='text'] {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.toggle-button.active {
  background-color: #ffc108;
}

.toggle-button.active img {
  transform: rotate(360deg);
}

.calculator-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b8b5ae;
}

.calculator-header__logo {
  margin-top: 30px;
}

.calculator-header__logo > img {
  width: 148px;
  height: 128px;
}

.calculator-header__sub-title {
  margin-top: 16px;
  text-transform: uppercase;
}

.calculator-header__sub-title span {
  font-size: 24px;
  font-weight: 700;
  color: #484f59;
  text-align: center;
}

.calculator-header__title {
  margin-top: 8px;
}

.calculator-header__title span {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.calculator-header__description {
  display: flex;
  justify-content: center;
  max-width: 840px;
  margin-top: 35px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #484f59;
  text-align: center;
  letter-spacing: .6px;
}

.calculator-header__select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 702px;
  height: 155px;
  margin-top: 30px;
  margin-bottom: 34px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.1);
}

.calculator-header__select-type label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #484f59;
}

.calculator-header__select-type {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 230px;
  margin-top: 35px;
  margin-bottom: 44px;
}

.calculator-header__select-type > select {
  height: 52px;
  padding: 12px 0 12px 17px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #484f59;
  letter-spacing: .6px;
  background: url(../../images/roi-calculator/Chevron-down.svg) 92% center no-repeat;
  background-size: initial;
  border-color: #484f59;
  border-radius: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.calculator-header__select-type > select::-ms-expand {
  display: none;
}

.calculator-header__select-type option {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: .6px;
}

/*
  General styles for sections with inputs
*/

.agency-view,
.ecommerce-view,
.other-view {
  display: none;
}

.agency-monthly-total-saved,
.ecommerce-monthly-total-saved,
.other-monthly-total-saved {
  display: none;
}

.agency-yearly-total-saved,
.ecommerce-yearly-total-saved,
.other-yearly-total-saved {
  display: none;
}

.agency-monthly-new-revenue,
.ecommerce-monthly-new-revenue,
.other-monthly-new-revenue {
  display: none;
}

.agency-yearly-new-revenue,
.ecommerce-yearly-new-revenue,
.other-yearly-new-revenue {
  display: none;
}

.agency-monthly-total-hours-saved,
.ecommerce-monthly-total-hours-saved,
.other-monthly-total-hours-saved {
  display: none;
}

.agency-yearly-total-hours-saved,
.ecommerce-yearly-total-hours-saved,
.other-yearly-total-hours-saved {
  display: none;
}


/* 'Company' form view */

.digital-marketing {
  display: flex;
  flex-direction: column;
  /*background-color: rgba(100%, 76%, 3%, 0.57);*/
}

.digital-marketing__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 28px auto 30px;
}

.toggle-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -4px -6px 15px rgba(0, 0, 0, 0.1);
  transform: rotate(180deg);
}

.toggle-button img {
  position: relative;
  left: 8px;
  transform: rotate(180deg);
}

.digital-marketing__header .header-title {
  margin-right: 195px;
  margin-left: 40px;
}

.digital-marketing__header > .digital-marketing__header--input {
  position: relative;
}

.digital-marketing__header > .digital-marketing__header--input > span {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #979797;
}

.digital-marketing__header--input > input {
  max-width: 158px;
  height: 52px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #484f59;
  border: 1px solid #000;
  border-radius: 6px;
}

input[type="text"]:disabled {
  color: #b6b6b6;
  background-color: #fff;
  border-color: #979797;
}

.digital-marketing__items {
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 704px;
  padding-top: 24px;
  margin: 0 auto;
  border-top: 1px solid #323c47;
}

.digital-marketing__items span {
  margin-left: 70px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #484f59;
  letter-spacing: .6px;
}

.digital-marketing__items div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.digital-marketing__item-first input {
  max-width: 158px;
  height: 52px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21;
  color: #484f59;
  border: 1px solid #000;
  border-radius: 6px;
}

.digital-marketing__item-first div {
  position: relative;
}

.digital-marketing__item-first div span {
  position: absolute;
  top: 15px;
  left: -60px;
  font-size: 18px;
  font-weight: unset;
  line-height: 21px;
  color: #979797;
}

.digital-marketing__item {
  margin-top: 16px;
}

.digital-marketing__item-input input {
  max-width: 82px;
  height: 52px;
  padding: 15px 0 15px 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #484f59;
  border: 1px solid #000;
  border-radius: 6px;
}

.digital-marketing__item-input span {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.digital-marketing__items .digital-marketing__calculation-based {
  flex-direction: column;
  align-items: flex-start;
  max-width: 391px;
  padding-bottom: 24px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 70px;
  background-color: rgba(255, 193, 7, 0.3);;
  border-radius: 6px;
}

.digital-marketing__calculation-based span {
  margin-top: 24px;
  margin-left: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #484f59;
}

.product-price .digital-marketing__calculation-based span {
  margin-top: 0;
  letter-spacing: .6px;
}

.product-price .digital-marketing__calculation-based span:nth-child(2) {
  margin-top: 9px;
}

.digital-marketing__calculation-based span > span {
  margin: 0 0 0 2px;
}

.digital-marketing__calculation-based span > .item {
  font-weight: 700;
  text-decoration: none;
}

.digital-marketing__calculation-based span:first-child {
  text-decoration: underline;
  letter-spacing: .6px;
}

.digital-marketing__calculation-based .cost-change {
  width: 100%;
  max-width: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #484f59;
  text-align: center;
  letter-spacing: .6px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #484f59;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.digital-marketing__calculation-based span.currency {
  font-weight: 700;
  text-decoration: none;
}

.product-price {
  display: flex;
  flex-direction: column;
  /*background-color: rgba(100%, 76%, 3%, 0.39);*/
}

.product-price .digital-marketing__items {
  border-top: none;
}

.product-price__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 28px auto;
}

.product-price .digital-marketing__calculation-based {
  max-width: 335px;
  min-height: 68px;
  padding-top: 13px;
  padding-bottom: 14px;
  margin-top: 0;
}

.product-price__header-left {
  display: flex;
  align-items: center;
}

.product-price__header-left input {
  max-width: 71px;
}

.product-price__header-left .digital-marketing__header--input {
  position: relative;
}

.product-price__header-left .digital-marketing__header--input span {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #979797;
}

.product-price__header-left .toggle-button {
  margin-right: 40px;
}

.product-price__header-right {
  display: flex;
  align-items: center;
  margin-right: 73px;
}

.header-title {
  margin-right: 18px;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #323c47;
  letter-spacing: .6px;
}

.product-price__header-left .header-title {
  margin-left: 0;
}

.analytics-report {
  display: flex;
  flex-direction: column;
 /* background-color: rgba(100%, 76%, 3%, 0.28);*/
}

.analytics-report__header .digital-marketing__item-input {
  display: flex;
  align-items: center;
}

.analytics-report__header .header-title {
  margin-right: 117px;
}

.analytics-report__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 30px auto 35px;
}


/* "Marketing Agency" form view */

.agency-view section:not(.agency-calculation-based) {
  height: 120px;
}

.agency-view .digital-marketing__header {
  margin-top: 38px;
}

.agency-view .product-price__header {
  margin-top: 34px;
}

.agency-view .header-title {
  margin-left: 53px;
}

.agency-view .analytics-report__header {
  margin-top: 32px;
}

.agency-view .digital-marketing__header--input > input {
  max-width: 82px;
  padding-left: 20px;
}

.agency-view .product-price__header-left input {
  max-width: 158px;
}

.agency-view .product-price__header-left .digital-marketing__header--input input {
  padding-left: 30px;
}

.agency-view .product-price .header-title {
  margin-right: 248px;
}

.agency-view .digital-marketing__header > .digital-marketing__header--input {
  margin-right: 78px;
}

.agency-view .digital-marketing__item-input input {
  max-width: 158px;
}

.agency-calculation-based {
  max-width: 620px;
  margin: 35px auto 0;
}

.agency-calculation-based .digital-marketing__calculation-based {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: .6px;
}

.agency-calculation-based .digital-marketing__calculation-based span {
  margin-left: 0;
}


.agency-calculation-based span:nth-child(1) {
  margin-top: 0;
}

.agency-calculation-based span:nth-child(2) {
  margin-top: 14px;
}

.agency-calculation-based span:nth-child(3) {
  margin-top: 7px;
}

/* "eCommerce" form view */

.ecommerce-view .orders-details .digital-marketing__items {
  border-top: none;
}

.ecommerce-view .product-price__header {
  display: block;
  align-items: normal;
  justify-content: normal;
}

.ecommerce-view .product-price__header-left .digital-marketing__header--input input {
  max-width: 96px;
}

.ecommerce-view .product-price__header-right {
  margin-top: 16px;
  margin-right: 0;
}

.ecommerce-view .product-price__header-left .header-title {
  margin-right: 300px;
}

.ecommerce-view .product-price__header-right .header-title {
  margin-right: 238px;
  margin-left: 70px;
}

/*
  "YOUR MONTHLY SAVINGS" section
*/

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 816px;
  margin: 50px auto 124px;
  border-radius: 6px;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.1);
}

.result_title {
  margin-top: 47px;
  margin-bottom: 68px;
  font-size: 24px;
  font-weight: 700;
  color: #484848;
  text-transform: uppercase;
  letter-spacing: 0.06px;
}

.result_image-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.result_image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_image-item img {
  width: 80px;
  height: 70px;
  margin-bottom: 7px;
}

.img-description {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  color: #02227a;
  text-transform: uppercase;
  letter-spacing: .45px;
}

.img-description img {
  width: 15px;
  height: 15px;
  margin-bottom: 0;
}

.close-to-sibling {
  margin-right: -8px;
}

.result_image-item-desc {
  margin-top: 17px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #323c47;
  text-align: center;
}

.result_descriptions {
  width: 100%;
  max-width: 632px;
  padding-top: 35px;
  margin-top: 40px;
  margin-bottom: 57px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}

.result_descriptions-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
  letter-spacing: .5px;
}

.result_descriptions-text .currency {
  margin-right: -4px;
}

.result_sort-text {
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #000;
  text-align: center;
}

.result_copy-url {
  width: 100%;
  max-width: 636px;
  max-height: 718px;
  padding: 28px 0;
  margin: 0 auto 50px;
  text-align: center;
  background-color: #f9f9f9;
}

.result_copy-url span {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #323c47;
}

.result_copy-url button {
  padding: 12px 20px;
  margin-left: 21px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  letter-spacing: .07px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
}

.result_copy-url input {
  width: 275px;
  padding: 10px 18px;
  margin-left: 13px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: .6px;
  border: none;
  border-radius: 6px;
}

.free-signup-wrapper {
  margin: 50px auto;
  text-align: center;
}

.btn-yellow {
  display: inline-block;
  width: 270px;
  height: 55px;
  padding: 17px 0;
  margin: 0 auto 23px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  background: #ffc107;
  border-radius: 6px;
}

.btn-yellow a:hover {
  text-decoration: none;
}

.small-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #919191;
}

@media screen and (max-width: 768px ) {
  .calculator-header__description {
    margin-right: 50px;
    margin-left: 50px;
  }

  .result {
    margin-top: 60px;
  }

  .result_copy-url {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 425px ) {
  .calculator-header__logo {
    margin-top: 19px;
  }

  .calculator-header__logo > img {
    width: 74px;
    height: 64px;
  }

  .calculator-header__title {
    max-width: 278px;
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .calculator-header__title span {
    min-width: 278px;
    font-size: 24px;
    line-height: 28px;
  }

  .calculator-header__description {
    max-width: 282px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 19px;;
  }

  .calculator-header__select {
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 282px;
    height: 232px;
  }

  .calculator-header__select-type {
    margin-top: 0;
    margin-bottom: 0;
  }

  .company-view section,
  .agency-view section,
  .ecommerce-view section,
  .other-view section {
    padding: 0 calc((100% - 320px) / 2);
  }

  .digital-marketing__header {
    flex-direction: column;
    align-items: baseline;
    max-width: 285px;
    height: 124px;
    margin: 15px auto 0;
  }

  .digital-marketing__header .header-title {
    max-width: 267px;
    margin: 0 0 0 6px;
    transform: translate(32px, -35px);
  }

  .toggle-button img {
    top: 4px;
  }

  .digital-marketing__header > .digital-marketing__header--input {
    transform: translate(38px, -30px);
  }

  .digital-marketing__items {
    max-width: 285px;
    padding-top: 10px;
    padding-left: 37px;
  }

  .digital-marketing__items div:not(.digital-marketing__calculation-based) {
    flex-direction: column;
    align-items: unset;
    height: 73px;
  }

  .digital-marketing__item-first div span {
    top: 21px;
  }

  .digital-marketing__items span:not(.currency) {
    margin-left: 0;
  }

  .digital-marketing__item-first input,
  .digital-marketing__item-input input {
    height: 52px;
    margin-top: 6px;
  }

  .digital-marketing__item-input span {
    margin-right: 0;
    transform: translate(102px, -42px);
  }

  .digital-marketing__items .digital-marketing__calculation-based {
    width: 284px;
    margin: 24px auto;
    transform: translate(-38px, 0);
  }

  .digital-marketing__items .digital-marketing__calculation-based > span {
    margin-left: 27px;
  }

  .product-price__header,
  .analytics-report__header {
    flex-direction: column;
    align-items: baseline;
    max-width: 285px;
    margin: 15px auto 10px;
  }

  .company-view .product-price__header,
  .other-view .product-price__header {
    margin-top: 0;
  }

  .product-price__header-left .header-title {
    margin-left: 6px;
  }

  .product-price__header-left .toggle-button,
  .ecommerce-view .product-price__header-left .header-title,
  .ecommerce-view .product-price__header-right .header-title {
    margin-right: 0;
  }

  .product-price__header-left .digital-marketing__header--input {
    margin-top: 6px;
    transform: translate(-155px, 40px);
  }

  .product-price__header-right {
    flex-direction: column;
    margin-right: 0;
  }

  .product-price__header-right .header-title {
    margin-top: 58px;
    margin-right: 0;
  }

  .product-price__header-right .digital-marketing__item-input {
    transform: translateX(-30px);
  }

  .analytics-report__header {
    margin-bottom: 0;
  }

  .analytics-report__header .header-title {
    margin-right: 50px;
    margin-left: 7px;
    transform: translate(32px, -35px);
  }

  .analytics-report__header .digital-marketing__item-input {
    transform: translate(40px, -30px);
  }

  .analytics-report .analytics-report__header .digital-marketing__item-input span {
    transform: translate(2px, 2px);
  }

  .result {
    width: 282px;
    margin-top: 54px;
  }

  .result_title {
    margin: 16px auto 12px;
    font-size: 18px;
    line-height: 36px;
  }

  .result_image-items {
    flex-direction: column;
  }

  .result_image-item:nth-child(2),
  .result_image-item:nth-child(3) {
    margin-top: 34px;
  }

  .result_image-item-desc {
    margin-top: 7px;
  }

  .result_descriptions {
    max-width: 255px;
    padding: 24px 23px 0;
    margin-top: 35px;
    margin-bottom: 34px;
  }

  br.mobile-hidden {
    display: none;
  }

  .result_descriptions-text {
    font-size: 14px;
    line-height: 19px;
  }

  .result_sort-text {
    margin-bottom: 34px;
  }

  .result_copy-url {
    max-width: 250px;
    padding: 22px 0 15px 0;
  }

  .result_copy-url input {
    width: 212px;
    margin-top: 13px;
    font-size: 14px;
    line-height: 16px;
  }

  .result_copy-url button {
    width: 87px;
    height: 42px;
    padding: 11px 12px;
    margin-top: 11px;
  }

  .agency-view section:not(.agency-calculation-based) {
    height: 128px;
  }

  .agency-view .digital-marketing__header {
    justify-content: center;
    height: 128px;
    margin-top: 0;
  }

  .agency-view .digital-marketing__header .header-title {
    max-width: unset;
    margin: 0 0 0 6px;
    transform: unset;
  }

  .agency-view .digital-marketing__header > .digital-marketing__header--input {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 6px;
    transform: unset;
  }

  .agency-view .product-price__header {
    width: 285px;
    margin: 0 auto;
  }

  .agency-view .product-price__header .product-price__header-left .header-title {
    width: 285px;
    margin-right: 0;
  }

  .agency-view .product-price__header-left .digital-marketing__header--input {
    margin-top: 9px;
    margin-left: 6px;
    transform: translate(-292px, 40px);
  }

  .agency-view .analytics-report__header {
    margin-top: 20px;
  }

  .agency-view .analytics-report__header .header-title {
    margin-top: 0;
    margin-right: 5px;
    transform: unset;
  }

  .agency-view .analytics-report__header .digital-marketing__item-input {
    margin-left: 6px;
    transform: unset;
  }

  .agency-view .analytics-report .digital-marketing__item-input input {
    margin-top: 9px;
  }

  .agency-view .agency-calculation-based {
    margin: 25px auto 0;
  }

  .agency-calculation-based .digital-marketing__calculation-based {
    margin: 0 60px 0 17px;
  }

  .ecommerce-view .product-price__header .product-price__header-left,
  .ecommerce-view .product-price__header .product-price__header-right {
    position: relative;
  }

  .ecommerce-view .product-price__header-left .digital-marketing__header--input,
  .ecommerce-view .product-price__header-right .digital-marketing__header--input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }

  .ecommerce-view .product-price__header-right .header-title {
    margin-left: 20px;
  }

  .ecommerce-view .product-price__header-left .digital-marketing__header--input {
    transform: translate(-153px, 28px);
  }

  .ecommerce-view .product-price__header-right .digital-marketing__item-input {
    transform: translateX(-65px);
  }
}
