.customer-fullstory {
  font-family: "Roboto", sans-serif;
}

.customer-fullstory header {
  display: flex;
  justify-content: space-between;
  height: 359px;
}

.defero-fs header {
  flex-direction: row-reverse;
}

.grey-bg {
  background-color: #484F59;
}

.yellow-bg-fs {
  background-color: #FFC107;
}

.header-figure {
  position: relative;
  height: 359px;
}

.header-figure_studiotwo {
  background-color: #484F59;
}

.header-figure img:nth-child(2) {
  display: none;
}

.header-figure img {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 100px;
  border-left: 100px solid transparent;
  object-fit: cover;
}

.header-figure_defero img {
  width: auto;
  max-width: 100%;
  margin-right: 0;
  border-left: 35px solid transparent;
}

.header-figure_studiotwo img {
  width: auto;
  max-width: 100%;
  height: 100%;
  margin-right: 0;
  border-left: 0;
}

.header-figure:before {
  position: absolute;
  top: 0;
  left: 3%;
  width: 166px;
  height: 100%;
  content: "";
  background: #FFC107;
  transform: skew(-20deg);
}

.header-figure_defero:before {
  left: 0;
  transform: translateX(-40%) skew(-20deg);
}

.header-figure_defero:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 133px;
  height: 100%;
  content: "";
  background: #FFC107;
  transform: translateX(66px) skew(-20deg);
}

.header-figure.header-figure_studiotwo:before {
  top: unset;
  bottom: 0;
  left: -25%;
  width: 0;
  height: 0;
  background-color: transparent;
  border-bottom: 359px solid #484F59;
  border-left: 144px solid transparent;
  transform: unset;
}

.customer-output {
  width: 100%;
  max-width: 401px;
  margin-top: 75px;
  margin-left: calc(50% - 507px);
  color: #fff;
}

.customer-output_defero {
  max-width: 366px;
  margin-right: calc(50% - 507px);
  margin-left: 15%;
  text-align: right;
}

.customer-output__badge {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.customer-output_studiotwo .customer-output__badge {
  color: #fff;
}

.customer-output__main {
  font-size: 40px;
  line-height: 47px;
  margin-top: 6px;
}

.customer-output__main span {
  font-weight: 700;
}

.customer-output__main .company-link:hover {
  text-decoration: none;
}

.key-takeaways {
  display: flex;
  justify-content: space-between;
  padding: 59px calc((100% - 1024px) / 2);
  background: #F5F7FA;
}

.key-takeaways_studiotwo {
  justify-content: space-around;
}

.key-takeaways__item {
  display: flex;
  align-items: center;
}

.key-takeaways__item:first-child .key-takeaways__desc span {
  display: block;
  font-weight: 400;
}

.key-takeaways_studiotwo .key-takeaways__item:last-child .key-takeaways__desc span {
  display: block;
}

.key-takeaways__number {
  font-size: 80px;
  font-weight: 900;
  line-height: 94px;
  color: #FFC107;
}

.key-takeaways__desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #484F59;
  transform: translateX(-5px);
}

.key-takeaways_studiotwo .key-takeaways__desc {
  transform: unset;
}

.key-takeaways .key-takeaways__item:last-child {
  position: relative;
}

.key-takeaways_upscope .key-takeaways__item:last-child:before {
  position: absolute;
  top: 55px;
  left: -50px;
  font-size: 12px;
  line-height: 14px;
  content: "More posts";
}

.key-takeaways_studiotwo .key-takeaways__item:last-child:before {
  display: none;
}

.key-takeaways_defero .key-takeaways__item:last-child:before {
  position: absolute;
  top: 55px;
  left: -30px;
  font-size: 12px;
  line-height: 14px;
  content: "Up to";
}

.key-takeaways__desc span {
  font-size: 12px;
  line-height: 14px;
}

.problem-solved {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 590px;
  padding: 75px calc((100% - 1024px) / 2);
  background-image: url(../../../images/customer-stories/graph-line-tr.svg),
  url(../../../images/customer-stories/graph-line-bl.svg);
  background-repeat: no-repeat;
  background-position: top 25% right 20%, bottom 20% left 20%;
}

.problem-solved_defero,
.problem-solved_studiotwo {
  align-items: center;
  padding: 40px calc((100% - 1024px) / 2);
  background-image: url(../../../images/customer-stories/defero-graph-line-tr.svg),
  url(../../../images/customer-stories/defero-graph-line-bl.svg);
  background-position: top 50% right 10%, bottom 40% left 10%;
}

.problem-solved_studiotwo {
  min-height: 731px;
  padding-bottom: 98px;
  background-position: top 40% right 10%, bottom 40% left 10%;
}

.problem-solved__item {
  display: flex;
  align-items: center;
}

.problem-solved_defero .problem-solved__item,
.problem-solved_studiotwo .problem-solved__item {
  flex-direction: column;
}

.problem-solved__item:last-child {
  flex-direction: row-reverse;
}

.problem-solved_defero .problem-solved__item:last-child,
.problem-solved_studiotwo .problem-solved__item:last-child {
  flex-direction: column;
}

.problem-solved__item:last-child .problem-solved__text {
  z-index: 1;
  text-align: right;
}

.problem-solved_defero .problem-solved__item:last-child .problem-solved__text,
.problem-solved_studiotwo .problem-solved__item:last-child .problem-solved__text {
  text-align: center;
}

.problem-solved__item:first-child .problem-solved__icon {
  width: 179px;
  height: 139px;
  background-image: url(../../../images/customer-stories/peak.svg);
  background-size: cover;
  transform: translateX(15px);
}

.problem-solved_defero .problem-solved__item:first-child .problem-solved__icon,
.problem-solved_studiotwo .problem-solved__item:first-child .problem-solved__icon {
  transform: translate(0, 15px);
}

.problem-solved__item:last-child .problem-solved__icon {
  width: 179px;
  height: 171px;
  background-image: url(../../../images/customer-stories/oribi-head.png);
  background-size: cover;
  transform: translate(-15px, -20px);
}

.problem-solved_defero .problem-solved__item:last-child .problem-solved__icon,
.problem-solved_studiotwo .problem-solved__item:last-child .problem-solved__icon {
  transform: translate(0, 10px);
}

.problem-solved__item .problem-solved__text-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #FFC107;
}

.problem-solved__item .problem-solved__text-p {
  z-index: 1;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #484F59;
}

.problem-solved_defero .problem-solved__item .problem-solved__text-p,
.problem-solved_studiotwo .problem-solved__item .problem-solved__text-p {
  margin-top: 5px;
  font-size: 18px;
  line-height: 21px;
}

.problem-solved__item-challenge .problem-solved__text {
  z-index: 1;
  max-width: 647px;
}

.problem-solved_defero .problem-solved__item-challenge .problem-solved__text,
.problem-solved_studiotwo .problem-solved__item-challenge .problem-solved__text {
  max-width: 486px;
}

.problem-solved__item-solution .problem-solved__text {
  max-width: 617px;
}

.problem-solved_defero .problem-solved__text,
.problem-solved_studiotwo .problem-solved__text {
  z-index: 1;
  text-align: center;
}

.problem-solved__divider {
  width: 699px;
  margin: 0 auto;
  border-top: 2px solid #F5F7FA;
  color: #F5F7FA;
}

.problem-solved_defero .problem-solved__divider,
.problem-solved_studiotwo .problem-solved__divider {
  margin: 25px auto;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 87px calc((100% - 1024px) / 2);
  color: #fff;
  background-image: url(../../../images/customer-stories/quote-bg-large.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.quote_defero {
  padding: 70px calc((100% - 1024px) / 2);
  background-image: url(../../../images/customer-stories/defero-quote-bg-large.svg);
}

.quote_studiotwo {
  padding: 69px calc((100% - 1024px) / 2) 80px;
  background-image: url(../../../images/customer-stories/defero-quote-bg-large.svg);
}

.quote__text {
  position: relative;
  width: 100%;
  max-width: 650px;
  padding: 0 5px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  letter-spacing: .3px;
}

.quote__text:before {
  position: absolute;
  top: -10px;
  left: -63px;
  width: 50px;
  height: 40px;
  content: "";
  background-image: url(../../../images/customer-stories/grey-quotes.svg);
}

.quote__text:after {
  position: absolute;
  right: -50px;
  bottom: 10px;
  width: 50px;
  height: 40px;
  content: "";
  background-image: url(../../../images/customer-stories/grey-quotes.svg);
  transform: rotateY(180deg);
}

.quote_studiotwo .quote__text:after {
  bottom: -20px;
}

.quote_text__emphasized {
  color: #ffc107;
}

.quote__credentials {
  align-self: flex-end;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #E0E0E0;
  text-align: center;
  letter-spacing: 0.3px;
  transform: translateX(-77px);
}

.quote_defero .quote__credentials {
  transform: translateX(-140px);
}

.quote_studiotwo .quote__credentials {
  margin-top: 40px;
}

.try-free-link {
  display: block;
  width: 100%;
  max-width: 233px;
  height: 60px;
  padding: 20px 23px;
  margin: 49px auto 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .07px;
  border-radius: 5px;
}

.quote_studiotwo .try-free-link {
  margin-top: 57px;
}

.try-free-link_white-text {
  color: #FFFFFF;
  background: #FFC107;
}

.try-free-link:hover {
  text-decoration: none;
  background: #ECB100;
}

.features-used {
  height: 747px;
  padding: 70px calc((100% - 1024px) / 2);
  color: #484F59;
  text-align: center;
  background-color: #F5F8FC;
  background-image: url(../../../images/customer-stories/upscope-waves-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.features-used_defero {
  height: 589px;
  padding: 70px calc((100% - 1024px) / 2) 0;
  background-image: url(../../../images/customer-stories/defero-waves-bg.svg);
}

.features-used_studiotwo {
  height: 585px;
  background-image: url(../../../images/customer-stories/studiotwo-waves-bg.svg);
}

.features-used__headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

.features-used_upscope .features-used__stack,
.features-used_studiotwo .features-used__stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.features-used_defero .features-used__stack {
  align-items: center;
}

.features-used__item {
  display: flex;
  align-items: center;
  max-width: 800px;
  height: 134px;
  padding-left: 30px;
  margin-top: 50px;
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 4px 13px rgba(72, 79, 89, 0.09);
}

.features-used_defero .features-used__item {
  flex-direction: column;
  justify-content: center;
  max-width: 634px;
  height: 258px;
  padding: 40px 90px 50px;
  margin-top: 62px;
}

.features-used_upscope .features-used__item:nth-child(2) {
  align-self: center;
}

.features-used_studiotwo .features-used__item:last-child {
  align-self: center;
}

.features-used_upscope .features-used__item:nth-child(3) {
  align-self: flex-end;
}

.features-used__item-text {
  padding: 0 50px 0 26px;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.features-used_studiotwo .features-used__item-text {
  padding: 0 70px 0 38px;
}

.features-used_defero .features-used__item-text {
  padding: 0;
  line-height: 20px;
  text-align: center;
}

.features-used__item-text span {
  font-weight: 700;
}

.try-free-container {
  display: flex;
  flex-direction: column;
  padding: 70px calc((100% - 1024px) / 2) 60px;
  text-align: center;
  background-image: url(../../../images/customer-stories/try-free-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.try-free-container__headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: #fff;
}

.try-free-link_grey-text {
  padding: 17px 23px;
  margin-top: 34px;
  color: #484F59;
  border: 3px solid #484F59;
  border-radius: 5px;
}

.try-free-link_grey-text:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.more-stories {
  padding: 70px 0 105px 0;
}

.more-stories__headline {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #484F59;
  text-align: center;
}

.more-stories__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 645px;
  margin: 65px auto 0;
}

@media (min-width: 1441px) {
  .customer-output {
    margin-left: calc(42% - 507px);
  }

}

@media (max-width: 1120px) {
  .customer-output {
    margin-left: calc(53% - 507px);
  }

  .customer-output_defero {
    margin-right: calc(52% - 507px);
    margin-left: calc(50% - 507px);
  }

  .customer-output_studiotwo {
    max-width: 320px;
  }

  .header-figure_defero img {
    width: 90%;
  }

  .header-figure_defero:after {
    right: 10%;
  }

  .key-takeaways {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1023px) {
  .customer-fullstory header {
    height: 252px;
  }

  .header-figure {
    height: 252px;
  }

  .header-figure:before {
    left: -15%;
    width: 110px;
  }

  .header-figure_defero:before {
    transform: translateX(20%) skew(-20deg);
  }

  .header-figure img:nth-child(1) {
    display: none;
  }

  .header-figure_defero img:nth-child(1) {
    display: block;
    width: 90%;
    object-fit: cover;
  }

  .header-figure_studiotwo img:first-child {
    display: block;
  }

  .header-figure img:nth-child(2) {
    display: block;
  }

  .header-figure img {
    width: unset;
    max-width: 100%;
    margin-right: unset;
    border-left: unset;
    object-fit: unset;
  }

  .header-figure.header-figure_studiotwo:before {
    left: -35%;
  }

  .customer-output {
    max-width: 300px;
    margin-top: 50px;
    margin-left: 5%;
  }

  .customer-output_defero {
    margin-right: calc(68% - 507px);
    margin-left: 0;
  }

  .customer-output__main {
    font-size: 30px;
    line-height: 35px;
  }

  .key-takeaways {
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .key-takeaways__number {
    font-size: 48px;
    line-height: 56px;
  }

  .key-takeaways__desc {
    font-size: 14px;
    line-height: 16px;
  }

  .key-takeaways_upscope .key-takeaways__item:nth-child(3):before {
    top: 33px;
    left: -55px;
  }

  .key-takeaways_defero .key-takeaways__item:nth-child(3):before {
    top: 33px;
  }

  .problem-solved {
    min-height: 464px;
    padding: 64px calc((100% - 768px) / 2) 40px;
  }

  .problem-solved_defero {
    background-position: top 20% right 10%, bottom 20% left 10%;
  }

  .problem-solved__item .problem-solved__text-heading {
    font-size: 25px;
    line-height: 29px;
  }

  .problem-solved__item:first-child .problem-solved__icon {
    width: 103px;
    height: 82px;
  }

  .problem-solved__item:last-child .problem-solved__icon {
    width: 106px;
    height: 101px;
  }

  .problem-solved__item .problem-solved__text-p {
    font-size: 14px;
    line-height: 16px;
  }

  .problem-solved__item:first-child .problem-solved__text-p {
    max-width: 334px;
  }

  .problem-solved__item:last-child .problem-solved__text-p {
    max-width: 381px;
  }

  .problem-solved__divider {
    width: 413px;
    border-top: 1px solid #F5F7FA;
  }

  .quote {
    padding: 80px calc((100% - 1024px) / 2) 60px;
    background-position: center;
  }

  .quote__text {
    max-width: 600px;
    padding: 0 10px 0;
    font-size: 18px;
    line-height: 24px;
  }

  .quote__text:before {
    left: -46px;
    width: 46px;
    height: 37px;
    background-size: 46px 37px;
  }

  .quote__text:after {
    width: 46px;
    height: 37px;
    background-size: 46px 37px;
  }

  .try-free-link {
    max-width: 215px;
    height: 55px;
    padding: 18px 22px;
    margin-top: 45px;
    font-size: 16px;
    line-height: 19px;
  }

  .quote__credentials {
    margin-top: 11px;
  }

  .features-used {
    height: auto;
    padding: 53px calc((100% - 768px) / 2);
  }

  .more-stories__wrapper .stories-previews__story-preview_upscope {
    margin-left: 0;
  }

  .more-stories__wrapper .stories-previews__story-preview_studiotwo {
    margin-right: 0;
  }

  .features-used__headline {
    font-size: 30px;
    line-height: 36px;
  }

  .features-used__stack {
    padding: 0 15px;
  }

  .features-used__item {
    max-width: 608px;
    height: 120px;
    padding-left: 20px;
    margin-top: 40px;
  }

  .features-used__item-text {
    padding: 0 40px 0 25px;
  }

  .features-used__item-icon img {
    width: 84px;
    height: 68px;
  }

  .try-free-container {
    background-position: center;
  }

  .try-free-container__headline {
    font-size: 35px;
    line-height: 41px;
  }

  .try-free-link_grey-text {
    max-width: 233px;
    height: 60px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 21px;
  }

  .more-stories__wrapper {
    max-width: 515px;
    margin-top: 90px;
  }

  .stories-previews__story-preview_studiotwo {
    margin-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .customer-output_studiotwo {
    z-index: 1;
    max-width: 240px;
    margin-left: 3%;
  }

  .header-figure.header-figure_studiotwo:before {
    left: -31%;
    border-left: 134px solid transparent;
  }
}

@media screen and (max-width: 425px) {
  .customer-fullstory header {
    position: relative;
    flex-direction: column-reverse;
    height: 725px;
    padding: 200px 0 0;
    margin-top: -200px;
    overflow: visible;
    transform: skew(0deg, 10deg);
  }

  .customer-fullstory header:after {
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 70px;
    content: "";
    background-color: #ffc107;
    transform: skew(0deg);
  }

  .studiotwo-fs header:after {
    background-color: #484F59;;
  }

  .header-figure:before {
    display: none;
  }

  .header-figure img:nth-child(1) {
    display: block;
  }

  .header-figure img:nth-child(2) {
    display: none;
  }

  .header-figure img {
    width: 100%;
    max-width: unset;
    height: unset;
    transform: skew(0deg, -10deg);
  }

  .header-figure_studiotwo img {
    transform: skew(0);
  }

  .header-figure_defero img:nth-child(1) {
    width: 100%;
  }

  .header-figure_defero:after {
    display: none;
  }

  .header-figure_studiotwo {
    height: auto;
    transform: skew(0, -10deg);
  }


  .customer-output {
    max-width: 335px;
    height: 350px;
    margin: 40px 20px 0;
    transform: skew(0);
  }

  .customer-output_defero {
    text-align: left;
  }

  .customer-output__badge {
    font-size: 14px;
    line-height: 16px;
  }

  .customer-output__main {
    font-size: 33px;
    line-height: 39px;
  }

  .customer-output__badge,
  .customer-output__main {
    transform: skew(0deg, -10deg);
  }

  .key-takeaways {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 573px;
    padding: 90px 35px 60px 30px;
  }

  .key-takeaways_studiotwo {
    justify-content: space-around;
    height: 473px;
  }

  .key-takeaways__number {
    font-size: 80px;
    line-height: 94px;
  }

  .key-takeaways__desc {
    font-size: 20px;
    line-height: 23px;
  }

  .key-takeaways_upscope .key-takeaways__item:nth-child(3):before {
    top: 0;
    left: 0;
  }

  .key-takeaways_defero .key-takeaways__item:nth-child(3):before {
    top: 0;
    left: -10px;
  }

  .problem-solved {
    justify-content: space-between;
    min-height: 872px;
    padding: 50px 20px 60px;
    border-top: 2px solid #E9E9EF;
  }

  .problem-solved_defero {
    min-height: unset;
  }

  .problem-solved__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .problem-solved__item:last-child {
    flex-direction: column;
  }

  .problem-solved__item:last-child .problem-solved__text {
    text-align: center;
  }

  .problem-solved__item .problem-solved__text-heading {
    font-size: 30px;
    line-height: 35px;
  }

  .problem-solved__item .problem-solved__text-p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }

  .problem-solved__item:last-child .problem-solved__text-p {
    letter-spacing: -.01em;
  }

  .problem-solved__item:first-child .problem-solved__icon {
    width: 179px;
    height: 139px;
    transform: translate(0, 10px);
  }

  .problem-solved__item:last-child .problem-solved__icon {
    width: 179px;
    height: 171px;
    transform: translate(0, 10px);
  }

  .quote {
    padding: 77px 20px 40px;
    background-image: url(../../../images/customer-stories/quote-bg-mobile.svg);
  }

  .quote__text {
    max-width: unset;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: unset;
  }

  .quote__text .quote_text__emphasized_white-again {
    color: #fff;
  }

  .mobile-yellow {
    color: #ffc107;
  }

  .quote__text br {
    display: none;
  }

  .quote__text:before {
    top: -40px;
    left: 5px;
    width: 41px;
    height: 27px;
    background-size: 41px 27px;
  }

  .quote__text:after {
    right: 0;
    bottom: -40px;
    width: 41px;
    height: 27px;
    background-size: 41px 27px;
  }

  .quote__credentials {
    display: none;
  }

  .try-free-link {
    max-width: 335px;
    height: 60px;
    margin-top: 70px;
    font-size: 18px;
    line-height: 21px;
  }

  .features-used__stack {
    align-items: center;
  }

  .features-used__item {
    flex-direction: column;
    max-width: 335px;
    height: auto;
    padding: 30px 0 10px;
    margin-top: 30px;
  }

  .features-used_defero .features-used__item {
    padding: 40px 10px;
  }

  .features-used_studiotwo .features-used__item {
    padding: 40px 10px;
  }

  .features-used__item-icon img {
    width: 98%;
    height: 100%;
  }

  .features-used_upscope .features-used__item:nth-child(3) {
    align-self: unset;
  }

  .features-used_upscope .features-used__item:nth-child(3) .features-used__item-icon img {
    height: 86px;
  }

  .features-used__item-text {
    padding: 0 10px;
    text-align: center;
  }

  .features-used_studiotwo .features-used__item-text {
    padding: 0;
  }

  .try-free-container {
    padding: 50px 20px;
    background-image: url(../../../images/customer-stories/try-free-bg-mobile.svg);
  }

  .try-free-container__headline {
    font-size: 40px;
    line-height: 47px;
  }

  .try-free-link_grey-text {
    margin-top: 40px;
  }

  .more-stories__wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .more-stories__headline {
    margin-left: 18px;
    text-align: left;
  }
}