.stories-previews__story-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 290px;
  height: 315px;
  padding-bottom: 19px;
  overflow: hidden;
  background: #F0F5F6;
  border-radius: 4px;
  box-shadow: 0 2.89843px 3.62304px rgba(70, 83, 93, 0.0243888),
  0 8.01379px 10.0172px rgba(70, 83, 93, 0.035),
  0 19.2941px 24.1177px rgba(70, 83, 93, 0.0456112),
  0 64px 80px rgba(70, 83, 93, 0.07);
}

.stories-previews__story-preview:hover {
  text-decoration: none;
  cursor: pointer;
}

.stories-previews__customer-photo {
  width: 100%;
  height: 100%;
  min-height: 169px;
  background-repeat: no-repeat;
  background-position: inherit;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.stories-previews__story-preview_upscope .stories-previews__customer-photo {
  background-image: url(../../../images/customer-stories/shared/upscope.png);
}

.stories-previews__story-preview_defero .stories-previews__customer-photo {
  background-image: url(../../../images/customer-stories/shared/defero.svg);
}

.stories-previews__story-preview_studiotwo .stories-previews__customer-photo {
  background-image: url(../../../images/customer-stories/shared/studiotwo.svg);
}

.stories-previews__customer-details {
  padding: 20px 13px 0 14px;
  color: #323C47;
  text-align: left;
  background-color: #F0F5F6;
  transform: translateY(-34px);
}

.stories-previews__customer-details_name {
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}

.stories-previews__customer-details_type {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.stories-previews__customer-details_success {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.stories-previews__full-story {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ECB100;
}

.stories-previews__story-preview:hover .stories-previews__full-story {
  color: #FFC107;
}

@media screen and (max-width: 1023px) {
  .stories-previews__story-preview {
    max-width: 230px;
    height: 266px;
    padding-bottom: 17px;
  }

  .stories-previews__story-preview_upscope {
    margin-left: 25px;
  }

  .stories-previews__story-preview_studiotwo {
    margin-right: 25px;
  }

  .stories-previews__customer-photo {
    min-height: 118px;
    background-position: inherit;
    background-size: inherit;
  }

  .stories-previews__story-preview_defero .stories-previews__customer-photo {
    transform: translateY(-22px);
  }

  .stories-previews__story-preview_studiotwo .stories-previews__customer-photo {
    background-position: center;
    transform: translateY(-20px);
  }

  .stories-previews__customer-details {
    padding: 10px 12px 0 14px;
  }

  .stories-previews__customer-details_name {
    font-size: 18px;
    line-height: 21px;
  }

  .stories-previews__customer-details_success {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  .stories-previews__story-preview {
    max-width: 290px;
    height: 100%;
    margin-top: 20px;
  }

  .stories-previews__story-preview_upscope {
    margin-left: unset;
  }

  .stories-previews__story-preview_studiotwo {
    margin-right: unset;
  }

  .stories-previews__customer-details {
    height: inherit;
  }

  .stories-previews__customer-photo {
    min-height: 169px;
  }
}

@media screen and (max-width: 425px) {
  .stories-previews__story-preview {
    max-width: 335px;
    height: 315px;
    padding-bottom: 18px;
    margin-top: 35px;
  }

  .stories-previews__customer-photo {
    height: 158px;
    min-height: unset;
    background-size: cover;
  }

  .stories-previews__customer-details {
    height: auto;
    padding: 14px 15px 0 16px;
    transform: unset;
  }

  .stories-previews__customer-details_name {
    font-size: 20px;
    line-height: 23px;
  }

  .stories-previews__customer-details_success {
    font-size: 16px;
    line-height: 19px;
  }

  .stories-previews__full-story {
    transform: translateY(22px);
  }

  .stories-previews__story-preview_defero .stories-previews__customer-photo,
  .stories-previews__story-preview_studiotwo .stories-previews__customer-photo {
    transform: unset;
  }
}
